[2017-06-25 04:17] #102 closed

[2017-06-25 04:25] devbobo commented on #100
I've just released a new version (`1.3.1`) when should prevent the error described in the OP.

Please ensure that you are also running the most recent version of `wemo-client` which should be `0.13.0`

[2017-06-25 14:17] markhatchell commented on #99
@ZubairAnwar Would you mind testing out a fork of this with basic dimmer support? The fork is at https://github.com/markhatchell/homebridge-platform-wemo you should be able to install it with

`npm i https://github.com/markhatchell/homebridge-platform-wemo#master `

You will also need to override the wemo-client module with a fork of it at https://github.com/markhatchell/wemo-client

Again, an ins

[2017-06-25 15:31] ZubairAnwar commented on #99
Unfortunately, I am currently out of town for the next three weeks. Would have been happy to test if I was not on the road...
________________________________________
From: McAttack <notifications@github.com>
Sent: Sunday, June 25, 2017 7:17:18 AM
To: rudders/homebridge-platform-wemo
Cc: ZubairAnwar; Mention
Subject: Re: [rudders/homebridge-platform-wemo] Wemo Dimmer Support (Enhancement Request)

[2017-06-25 19:15] DMBlakeley commented on #100
Thanks for releasing the new version.  Installed this morning and there have been no UDN of 'nul' issues since.  Will continue to monitor log over next few days.

[2017-06-26 21:48] markhatchell commented on #99
After a weekend full of mDNS and SSDP multicast issues with my new network hardware I finally have everything working well again (no dropped home bridge connections from the AppleTV). The PR seems to work well for binary state (no, off) and I am working on the dimming functionality with great results using hap-nodejs and wemo-client for initial testing. I will bring dimming to the home bridge-plat

[2017-06-27 02:49] devbobo commented on #100
Closing, reopen if any issues pop up.

[2017-06-27 02:49] #100 closed

[2017-06-27 17:27] alexsalex commented on #29
for me it is still the issue:

events.js:182
      throw er; // Unhandled 'error' event
      ^

TypeError: Cannot read property 'length' of undefined
    at /usr/local/lib/node_modules/homebridge-platform-wemo/index.js:113:49
    at /usr/local/lib/node_modules/homebridge-platform-wemo/node_modules/wemo-client/client.js:163:23
    at Parser.<anonymous> (/usr/local/lib/node_modules/homebridge-platf

[2017-06-27 21:06] lucanaut commented on #99
This is great, thank you! I don't have the skills to help develop this but I did manage to successfully install homebridge and run it so I'm enjoying my wemo switches. I can't wait to be able to use the dimmers from HomeKit as well.

[2017-07-02 03:24] hassancy opened #106 "Wemo Insight Switch"
I am trying to get information other than on/off from my Wemo Insight Switch in HomeKit. Specifically I was to know if the insight switch is on Standby (i.e. the connected device is not drawing power below a certain level) and/or how much current is the attached device drawing.  I know that this data is available in https://github.com/timonreinhard/wemo-client.  The section below from the README s

[2017-07-04 01:44] devbobo commented on #106
@hassancy what app are you using ? The official `Home` app from Apple is only relatively new and doesn't support everything that is supported by `HomeKit`. To view this additional information you will need to use an app like `Eve` from Elgato.

![img_0394](https://user-images.githubusercontent.com/680871/27811874-0504abda-60ae-11e7-992d-84f89edafbbe.PNG)

[2017-07-04 01:44] #106 closed

[2017-07-07 11:51] geofbuck opened #107 "discover stopped working"
I can confirm that the platform loads but does not discover my 4 memo devices. Killing home bridge and deleting caches, then re-adding bridge will see the devices, but attempting to add them to a room pops up a message that the accessory cannot be communicated with and is not on the network. They show up in the Wemo app correctly and can be cycled on/off. It does not update the status in home kit.

[2017-07-21 18:29] rasgeek opened #108 "Removing OLD demo switch"
I have an issue removing my old wemo switch from home kit.

[2017-07-22 14:05] rasgeek commented on #94
The wemo app only supports auto off duration of 1min, i modified a wemoswitch and added a external 5v relay to open my garage door, but i need the demo switch to turn off after 2 seconds in order to simulate a button press.

[2017-07-23 01:17] airmandan commented on #101
All my mini plugs work fine.  There has to be a config issue here.

As far as the official HomeKit Bridge, I would not be at all surprised if Belkin is branding an rPi with homebridge and your plugin pre-installed.

[2017-07-24 21:11] starlessblack commented on #107
I believe I, too, just started experiencing this problem. I don't know what happened because my Wemo plugs have not gotten a new firmware in quite some time. I've just noticed at some point in the last couple days the Wemo plugs don't seem to respond in Homekit apps, only from the Wemo app itself. After restarting Homebridge, I see in the log where it loads the Wemo platform plugin, but it doesn't

[2017-07-25 01:40] geofbuck commented on #107
I removed the platform-wemo plugin and tried the homebridge wemo one that just adds your devices as accessories. It works but has issues as well. Every couple of days i have to power cycle them to get them to show up properly in homekit. Pain in the butt!

[2017-07-25 23:14] #108 closed

[2017-07-25 23:15] rasgeek commented on #101
How do you delete or replace WeMo Switch

[2017-07-25 23:40] devbobo commented on #101
@rasgeek follow these instructions but obviously select `BelkinWeMo`
https://github.com/devbobo/homebridge-lifx-lan/wiki/Removing-a-bulb-from-Homebridge

[2017-07-26 00:37] Kobosake commented on #82
Has anyone found a solution to this one? I have a single light bulb connected through my Wemo Link which is having this issue; all other bulbs connected to the Wemo Link are working fine.

[2017-07-26 03:15] rasgeek commented on #101
@devbobo
I followed the instructions to a T, but Hesperus only gives me hide,rename and identify. No remove option

[2017-07-26 04:56] devbobo commented on #101
@rasgeek in step `5`, you need to swipe left on the `Homebridge` bridge rather than the `WeMo` accessory you want to remove.

[2017-07-27 20:58] geofbuck commented on #107
I tried following some of the suggestions from the other closed issue about discovery problems to no avail. My 4 devices just aren't being discovered. I can see the platform load but it never tries to discover on homebridge start. I tried re-install, deleting caches, etc. Here is my output:

homebridge
[7/27/2017, 4:52:02 PM] Loaded plugin: homebridge-globalcache-itach
[7/27/2017, 4:52:02 PM] Regi

[2017-07-27 21:21] geofbuck commented on #107
Alright, I resorted to DHCP IP reservation for the 4 devices, turned discovery off, then manually added the addresses to the homebridge config file and problem solved. They showed up in homebridge right away! Cheers to the other posts for providing the info.

[2017-07-28 03:30] starlessblack commented on #107
I’ve always used DHCP reservation so I guess my problem is caused by something else. I did make some adjustments to my networks access points, so I’ll see if that has any discernible effect.

[2017-07-28 15:06] rasgeek commented on #101
@devbobo It worked, my bad Thanks a mil.

[2017-07-28 15:06] rasgeek commented on #101
@devbobo Setting DHCP Reservation for demo switch and devices helps with reliability ?

[2017-07-28 22:20] geofbuck commented on #107
Do they show up in terminal at all when homebridge starts? Or just the "registering platform" line? Did you delete the /.homebridge/accessories/cachedAccessories file? That could be causing problems as well.

[2017-07-29 18:51] starlessblack commented on #107
No, when the problem is occurring, when Homebridge starts, I see the WeMo platform plugin load along with all the others, but the wemo devices aren’t detected and loaded. It’s only after I power cycle them that homebridge plugin seems to be able to detect them. perhaps I’ll trying clearing the cached accessories again.

[2017-07-30 09:32] dazza120 opened #109 "Help me register static i.p's in the config.json file"
Hi I've just moved from wemo accesories one and can't for the life of me figure out how to configure the json for this. All wemo devices have static ip's so i need to figure out how to configure that as well at some point. Can someone help me Please? Edit figured out why it wasn't running but now I've got homebridge running with the Wemo platform i can't find any demo devices in homekit.

**EDIT g

[2017-07-30 13:52] geofbuck commented on #107
Did you turn off discovery and add them manually? Do that then clear accesory cache.

[2017-07-30 19:38] starlessblack commented on #107
Oh jeez, I forgot all about that in the documentation. It'd been working well for a while with auto discovery so I guess that didn't even occur to me. So what'd you do, set discovery to false and the in the manual devices section, add all my device addresses in the format http://192.168.x.x:49153/setup.xml?

[2017-07-31 01:06] geofbuck commented on #107
Correct! That's why I used DHCP reservation. Trust me it will work properly!

[2017-07-31 01:11] starlessblack commented on #107
And I guess I don't know how to properly notate an array of devices in the config.json in that "manualDevices" field. Separating by commas or spaces didn't seem to work, causing startup failure.

[2017-07-31 01:28] geofbuck commented on #107
I'll post the relevant bits in a bit. Just lost all power in my neighborhood. Argh!

[2017-07-31 03:14] starlessblack commented on #107
Well, I got the config.json at least correct to the point that it doesn't error out, but maybe I still have the syntax for that "manualDevices" property wrong because it seems to be ignoring it. I've tested the IPs and their setup.xml URLs, and they're all correct and load in my browser. Stumped :(

[2017-07-31 04:57] devbobo commented on #107
@starlessblack the `manualDevices` in the config.json should look something like this...

[code]

You will need to confirm that each manual device url loads correctly via a web browser.

[2017-07-31 05:06] dazza120 commented on #107
Sorry to butt in here I would be interested in how you do the static ip's for wemo, all the wemo devices I have, have had their ip's reserved via the router but things I don't understand is how do I add the ip's to config.json file? But from the looks of it, it doesn't look like just adding IP address? Can I get some help please.

[2017-07-31 05:13] devbobo commented on #107
@dazza120 if you have static ips for your wemo devices, copying one of the urls from above anf replace the static ip section (shown below) with one of your known static ips and see if it loads successfully in a browser.

![discover_stopped_working_ _issue__107_ _rudders_homebridge-platform-wemo](https://user-images.githubusercontent.com/680871/28763624-c65a745e-7602-11e7-9822-e256a618823a.png)

[2017-07-31 05:15] dazza120 commented on #107
@devbobo thank you very much I'll do that later much appreciated cheers

[2017-07-31 11:35] starlessblack commented on #107
Thank you very much @devbobo I was completely neglecting to put in the [] brackets in my array. Works perfectly now!

[2017-07-31 17:23] dazza120 commented on #107
@devbobo perfect pic's them up a treat. Thank you

[2017-07-31 17:23] #109 closed

[2017-08-02 02:24] geofbuck commented on #107
thanks for stepping in @devbobo I was too busy to respond quickly. Glad you guys sorted it out!

[2017-08-02 02:24] #107 closed

[2017-08-07 16:14] aguilucho2017 opened #110 "Wemo Dimmer"
Hi !

Is it possible to add the Wemo Dimmer to the plugin?.
The Wemo-client latest version added support to it.

Would be great!

https://github.com/timonreinhard/wemo-client

Maybe that code can be used for the plugin, at least for basic
support to switch on/off the dimmer.

Thanks
Martin.

[2017-08-07 16:22] aguilucho2017 commented on #110
Of What I can see in:
https://github.com/timonreinhard/wemo-client/pull/54/commits/8a08e61a81e7b302595ddbf769d729b8928d711a

The URN to use it as a simple switch is:
+  Dimmer: 'urn:Belkin:device:dimmer:1',

[2017-08-08 00:27] devbobo commented on #110
Hi @aguilucho2017,

yes, that PR has been merged into wemo-client but Timon hasn't released a new version (eg. 0.1.4) with those changes.

More than happy to add the changes once Timon releases a new version...
![commits_ _timonreinhard_wemo-client_](https://user-images.githubusercontent.com/680871/29051182-1c56a34c-7c24-11e7-951a-4a2b0a6a12de.png)

[2017-08-08 01:03] aguilucho2017 commented on #110
Hi David

What I can see is that for simple support, without dimming is just  taking as valid the dimmer urn right?. If it's not that easy then we will have to wait.

Thanks much!!
Martin

[2017-08-08 02:19] devbobo commented on #110
@aguilucho2017 there is an existing PR where @markhatchell has implemented the changes, once Timon releases that version, I can merge that PR.

https://github.com/rudders/homebridge-platform-wemo/pull/105

[2017-08-08 23:57] macbisho opened #111 "iOS 11 Beta - single bulb out of 3 failure."
Since installing dev. beta iOS 11 one of my Wemo light bulbs has gone rogue.

Home.app says it's not supported - I've got 2 other Wemo light bulbs that are working perfectly well.

Not sure if this is an iOS 11 issue, a homebridge issue or a Wemo bulb issue (the bulb shows up in the Wemo app still, and I can adjust it fine, most of the time*, with that.

*it fails one in twenty times.

The bulb is

[2017-08-11 01:44] devbobo commented on #111
@macbisho I've had a similar issue with two different platform plugins on iOS11 (and seen similar reports from users of other plugins)...i'm not sure at this stage whether it's a HomeKit or Homebridge issue, but considering I have seen it on multiple plugins, I don't believe that it's a specific plugin issue.

[2017-08-16 23:39] macbisho commented on #111
The latest homebridge update appears to have possibly fixed the issue... at least according to the notes:
Version bump to 0.4.25 (#1436)
New HAP-NodeJS version should resolve the issue with a device showing as "Not Supported" and issues from Apple removing Optional characteristics.

[2017-08-18 00:07] oznu commented on #111
Similar issue. My Wemo Switch is working fine, but my Wemo Light Switch is not working and causes homebridge to crash.

[code]

Running Homebridge 0.4.25.

[2017-08-24 01:24] distressedsk commented on #58
Hi guys, appreciate this is nearly a year old but would like to provide some feedback on successfully getting a NetCam HD "Live" in iOS 10...

- Installed FFMPEG
- Installed homebridge-camera-ffmpeg
- Setup Config (see below)
- Switch Netcam HD switch to "Setup" and wait for the green light...
- Add Camera in iOS
- Done...

Config:

"platform": "Camera-ffmpeg",
  "cameras": [
    {
      "name": "

[2017-08-24 04:32] devbobo commented on #58
@distressedsk thanks, this is very useful, I'll take a closer look

[2017-08-24 05:49] devbobo commented on #58
@distressedsk what version of the Netcam HD do you have ? I can't access that url on my Netcam HD.

Can you please paste the contents of this url in a response ?
http://192.168.86.54:49153/setup.xml

[2017-08-24 06:17] distressedsk commented on #58
No problem, with the switch set down/normal mode I get:

This XML file does not appear to have any style information associated with it. The document tree is shown below.
<root xmlns="urn:Belkin:device-1-0">
<specVersion>
<major>1</major>
<minor>0</minor>
</specVersion>
<device>
<deviceType>urn:Belkin:device:NetCamSensor:1</deviceType>
<friendlyName>Porch</friendlyName>
<manufacturer>Belkin Intern

[2017-08-24 06:29] distressedsk commented on #58
I couldn't gain access via the URL in any browser but to a gamble on it working in the plugin... which paid off until I realised the platform plugin would be disabled.

Reading this is what prompted me to take the punt: http://community.ispyconnect.com/ispybb2/viewtopic.php?t=507

3rd post down

[2017-08-28 18:44] DMBlakeley commented on #58
I was able to get this up and running for 1 NetcamHDv1 camera.  A couple of clarification items for other novices as I am:

- FFMEG for Mac can be downloaded at: http://www.ffmpegmac.net.  The files from this download should be moved to  /usr/local/bin/.
- When adding the CONFIG file, change 192.168.86.54 to your local address for the camera.
- After adding the camera to the iOS home app, leave th

[2017-08-31 04:47] devbobo commented on #58
@DMBlakeley can you try just running with the `Living Room` camera ? My speculation is that `NetcamHDv2` do not work at all. I've been unable to get my `NetcamHDv2` camera working, and @distressedsk's camera is a `NetcamHDv1`...but maybe I was just doing it wrong.

[2017-08-31 21:11] DMBlakeley commented on #58
Hi @devbobo, your suspicion was correct.  homebridge-camera-ffmpeg appears to be compatible with NetcamHDv1 but not v2.  With v1 I get both still and live video from the camera.  With the v2 camera, although it adds to HomeKit without issue, does not respond to a still request (as seen in the homebridge.log).  A "live" video request appears to not be sent.

All a bit confusing as the XML files fro

[2017-08-31 23:00] aguilucho2017 commented on #110
Hi David

Wemo client v1.0.4 is out  can you release the new version of wemo platform with wemo dimmer support now? Thanks!

[2017-09-05 20:40] aguilucho2017 commented on #110
Hello?

[2017-09-10 15:41] kevinberthiaume opened #113 "iOS 11 public beta 9 - Insight Switch not working"
Home app show incompatible for the Insight Switch. Switch and Light Switch are working fine.

[2017-09-10 15:57] #113 closed

[2017-09-11 02:45] NDNELSON opened #114 "Motion Sensor"
Hi and Thaks for developing this pluging. I have a question about how does motion sensor works with homebridge.

My main question is if motion sensor sends information when detects triggering motion to homebridge plugin or if homebridge plugin is scanning sensor´s activity periodically.

It is coz i want to develop my own motion sensors, and it seems that wemo works with upnp and soap.

Thank you

[2017-09-20 06:56] ayanm00 commented on #110
Hi,
I am also waiting for this update to buy a WeMo Dimmer. Just a note for anyone interested: Best Buy is offering 2 WeMo Dimmers for $110 if you create a free MyBestBuy account.

Thanks for you work! This is my most used plugin!

[2017-09-21 01:30] lucanaut commented on #110
Same here! I love this plugin!  Thank you for all the hard work.  I have installed a few dimmers and really like them.  Can't wait to add them to my homebridge!

[2017-09-24 16:17] LumpyPoopie commented on #58
I am following this thread with great interest! With updates over the past year or so, homebridge-platform-wemo has become one of my most stable and responsive HomeKit platforms. Netcam support would be icing on the cake.

I've got two NetcamHDv2 cameras, and would very much like to incorporate them into HomeKit.  using the above method, I was able to install and execute homebridge-camera-ffmpeg,

[2017-09-24 18:50] DMBlakeley commented on #58
Just making sure that you also installed the FFMEG binary files?

I have both the v1 and v2 NetcamHD cameras.  The v1 camera has worked without issue, however, this is not the case with the v2 camera.  I have spent quite a bit of time trying to understand the difference between the 2 cameras and how the ffmpeg package handles them.  I have tinkered a bit with the JavaScript and have made some chan

[2017-09-25 02:28] LumpyPoopie commented on #58
Ah, yes, I failed to install the FFMPEG binary files.  Now that I've done so, homebridge doesn't crash on calling for a snapshot, but I get the same issue: no snapshot is relayed from homebridge to HomeKit on my v2 cameras. Sadly, I have no v1 cameras to use to verify my arrangement is working.  It is beyond me why there should be a discrepancy between the v1 and v2 cameras.

[2017-10-03 21:11] 350d opened #115 "Question: Wemo Light Switch Functionality"
Hello! Just a question before i can order my Wemo Light Switch. What exact options available for this device? Can i use single click and long click functions for example?
I would like to short power line inside the socket and use this switch as remote controller for other devices via Homebridge. Is this possible?

[2017-10-03 21:40] DMBlakeley commented on #115
The Wemo functionality of “long press” is not available in HomeKit via Homebridge.  Only on/off is supported.  You can create an automation in HomeKit that one accessory can trigger other actions, for example, turning on the front porch light would also turn on the living room lights.

Not sure about your idea of shorting the power line inside of the socket.  I would think it would be better to us

[2017-10-18 10:15] dvd2000k opened #116 "Wemo insight energy usage timestamp"
Hi, is there a way to disable wemo insight energy usage timestamp in the homebridge log? I have the log full of energy usage by the wemo insight every second.

[2017-10-18 16:37] DMBlakeley commented on #116
You can edit the index.js in the "homebridge-platform-wemo" directory using an appropriate source code editor (for example Atom or TextWrangler) to disable logging.

To disable real-time energy logging, comment out line 654 (by placing // at the beginning of the line),
//      this.log("%s - Consumption: %sw", this.accessory.displayName, value);

To disable overall power logging, comment out line

[2017-10-18 18:07] dvd2000k commented on #116
Perfect, It Work! Thank you very much!

[2017-10-20 08:38] dvd2000k opened #117 "Garage door opener closed state"
Hi, is there a way to generate a closed state after xx second the gate was open? I have configured the maker without sensor because i have a condominium gate that i control with a push button. After i tell siri to open the gate it remain open. Is there a way to apply a countdown to return in closed state?

Thankyou.

[2017-10-20 13:36] rasgeek commented on #117
HI,

There is home bridge delay switch plugin you can use and set your rules based on that. so if the door opener switched is pressed you turn on delay switch[5sec] and when dely switch a goes off it turns door opener off.

https://www.npmjs.com/package/homebridge-delay-switch

[2017-10-20 15:54] dvd2000k commented on #117
It can work... but it send another open/close command. The gate is autoclosing after xx seconds, i need a function that after xx seconds return the doorstate to close without sending another command to momentary switch.

[2017-10-20 16:43] rasgeek commented on #117
In that case you can use a delay switch to turn the real gate switch off after xx second.

You set home kit automation rule to turn dummy switch A (auto off after 2 sec) when real switch is activated. Now set an automaton rule to turn real switch off when dummy switch turns off.

[2017-10-20 19:29] dvd2000k commented on #117
But when the rule triggers the real switch for the close command, the gate stop in its position. Every button press generate an open/stop/close.

[2017-10-23 01:14] #116 closed

[2017-10-23 01:16] devbobo commented on #110
Sorry for the delay with this, I've had a lot going on. The new version `1.3.2` supports the `WeMo Dimmer`, but you will need to upgrade to `Node 6` or higher if you aren't already.

[2017-10-23 01:20] devbobo commented on #115
Personally, I'd look at something like [Flic buttons](http://flic.io)....that seems more like what you are trying to achieve. There is a homebridge plugin for them...but you need to setup some way to communicate without over bluetooth. More info at https://www.npmjs.com/package/homebridge-flic

[2017-10-24 02:16] lucanaut commented on #110
Thank you!  I updated and it's working!!

[2017-10-29 00:03] VdkaShaker opened #118 "plug-in seems to require unreleased version of Homebridge"
I'm getting:

https://github.com/nfarina/homebridge/releases

Only lists 4.28 as most recent.

[2017-10-30 00:03] devbobo commented on #118
I'd ignore the releases tab, it doesn't really mean anything, this is where you should look for current versions...
https://www.npmjs.com/package/homebridge

[2017-10-30 00:03] #118 closed

[2017-10-30 00:11] VdkaShaker commented on #118
I'm confused by you closing this.  I cannot use this plug-in because it fails to load with the error I posted above.  Will it be fixed so it will load?

[2017-10-30 00:12] devbobo commented on #118
There is nothing to fix, upgrade `homebridge` as the error message is telling you.

`sudo npm install -g --unsafe-perm homebridge`

[2017-10-30 00:14] VdkaShaker commented on #118
Ah.  well I cannot upgrade directly as I'm using it as an add-on which someone else controls.  Is there a reason you are requiring the most recent version?  Could you relax that requirement without causing issues for those of us who haven't (or cannot) updated Homebridge just yet?

[2017-10-30 00:20] devbobo commented on #118
The latest version `wemo-client` requires `node` version `6` or higher. Prior to `homebridge` version `0.4.29`, errors relating to incorrect node version weren't displayed correctly. This is an attempt to prevent support requests as to why stuff is no longer working.

You can edit the `package.json` file to match the version of homebridge you are running, and it will work fine.

[2017-10-30 00:21] VdkaShaker commented on #118
Understood.  I'm notifying the owner of the add-on I'm using as well to see if he can upgrade, but he was under the impression 4.28 was latest released.  Thanks for the info.

[2017-10-30 00:24] devbobo commented on #118
While the `releases` tab is a good indication of the current release, it requires the developer to `tag` the release and push those `tags` to github....however, that can be easily overlooked.

The best source of truth is looking at the npmjs page as that is what has been deployed.

[2017-10-30 00:27] VdkaShaker commented on #118
Got it.  Developer of the Home-Assistant/Hass.io Homebridge add-on which I'm using is reticent to push unreleased versions of Homebridge (understandably).  I'm sharing this info with him.

[2017-10-30 00:51] DMBlakeley commented on #118
I upgraded homebridge today.  The current released version is 0.4.29.  I updated homebridge first and then upgraded homebridge-platform-wemo.  All went smoothly.

[2017-10-30 00:59] VdkaShaker commented on #118
Thanks!  Appreciate everyone’s work on all these pieces.

[2017-10-31 21:24] rkokfhung opened #119 "Wemo maker garage opener receives set state twice"
Hi all
I’m not sure if anyone has encountered this. Nothing has changed in my setup and I’ve had My homebridge and the wemo platform working for close to six months without issues. Recently my gate and garage would open or close but then stops half way.

Looking at the homebridge printouts it looks like HomeKit receives a second set command about ten seconds later:

11/1/2017, 7:56:19 AM] [WeMo Pl

[2017-10-31 21:58] DMBlakeley commented on #119
iOS 11.1, tvOS 11.1 and WatchOS 4.1 were released today.  I would first update your devices to these releases to see if you still have the issue.  I was running tvOS 11.1 beta on my Apple TV and found that it worked more consistently than tvOS 11.

[2017-11-01 00:09] rkokfhung commented on #119
Thanks @DMBlakeley . I'll try that tonight! I'll give it a go too and see if there's a difference if i'm on Wifi or on Cellular (via AppleTV).

[2017-11-01 09:17] rkokfhung commented on #119
Hey @DMBlakeley, updated everything. Still does it. I can confirm it’s  only happening if via Siri on the Watch. From phone, whether it’s wifi or cellular it doesn’t do it. What’s the best thing to do? Modify index.js to ignore the second SET command?

[2017-11-01 11:55] rkokfhung commented on #119
Fixed! Added checks for closing /opening states. Woohoo

[2017-11-01 11:55] rkokfhung commented on #119
Fixed! Added checks for closing /opening states. Woohoo

[2017-11-01 11:55] #119 closed

[2017-11-03 02:49] devbobo commented on #114
@NDNELSON the sensor is not polled, the WeMo motion sensor sends an event message when motion is sensed or not longer sensed.

[2017-11-03 02:49] #114 closed

[2017-11-03 03:28] rkokfhung commented on #119
Thanks @devbobo ! I should have done an update first too on the plugin. But I'm also glad I figured out how to make it work again :) Will update it when I get home!

[2017-11-03 03:30] rkokfhung commented on #119
@devbobo Just checked the changes you uploaded ....its exactly what I did! :) haha!

[2017-11-03 18:04] vsidlu commented on #117
My workaround - WEMO MAKER -
switch type - Momentary;
sensor - Yes (even if I do not have one I just made wire shortcut "S" with "-" ).
When I push to open gate - maker momentary triggers gate remote control. Home kit shows "opening". Default opening time for this plugin is 20s. After that it checks sensor and shows status "closed".

[2017-11-07 13:18] DanielNagy opened #120 "[WeMo Platform] This capability (30008) not implemented"
I currently have a Schedule setup in the Wemo app / wemo link device, which turns a the Kitchen light bulb on and off automatically.

Everything works fine from Siri/homebridge UNTIL the kitchen light is turned off BY the automatic schedule. The "light on" request from Siri/homekit or Alexa etc, doesn't work.
The only way to make the light work again is to request a different brightness (ie, 90%)

[2017-11-08 06:36] ayanm00 commented on #110
Any idea if/when dimming will be supported? Best Buy is offering the dinners for $50 during Black Friday. Thanks for all your hard work! We really appreciate it!

[2017-11-25 15:49] patrickoleary1977 opened #121 "Only Showing One Device - Not All"
I installed Homebridge on Synology.  Then, installed the WeMo Platform.  All worked great.  I added the Homebridge to Home app.  I expected two switches, only one shows up.  When I check the log, it only shows the one, not the other.  Any thoughts on how to get the other to show?

[2017-11-30 14:14] suculent commented on #23
I have an IoT coffee maker working. Except for on/off it has 8 various options where one must be selected to start making the coffee. Just need proper accessory prototype for that.

[2018-01-02 07:51] KaidenR commented on #110
I've submitted a PR that updates the Dimmer switches with brightness controls! https://github.com/rudders/homebridge-platform-wemo/pull/122

But, like the PR mentions, I'm waiting for another PR to merge first. Hopefully that happens soon!

[2018-01-02 08:10] wh0di5pl5 opened #123 "[homebridge-platform-wemo.BelkinWeMo] Ignoring WeMo Platform setup because it is not configured"
hey everyone - I just got a Sensibo and added it to my son.config file and it required me to update my home bridge, which made me update my homebridge-platform-wemo too - now, doesn't matter what I do, it says the plug in is not configured and I get this error

[homebridge-platform-wemo.BelkinWeMo] Ignoring WeMo Platform setup because it is not configured

...It then skips the app and doesn't load

[2018-01-03 02:48] Mattserati opened #124 "iOS Home showing Homebridge, not accessories"
I've been trying to troubleshoot this for days, and now it's time to seek help:

I have the following WEMO accessories:

![fullsizeoutput_d00e](https://user-images.githubusercontent.com/35052287/34507610-bcd6d8ec-f072-11e7-9b17-4c85d3da1c5e.jpeg)
![fullsizeoutput_d00f](https://user-images.githubusercontent.com/35052287/34507611-bd0de468-f072-11e7-80fb-d75a5de5612d.jpeg)

I have the following confi

[2018-01-03 05:54] devbobo commented on #123
Your JSON config should look more like below, your current config defines `platforms` twice, which means the 2nd one overwrites the first.

[code]

[2018-01-03 19:52] DMBlakeley commented on #124
I have had this happen in the past where Homebridge does not find the Wemo accessories.  My suggestion is to stop Homebridge, and delete the cachedAccessories file from the .homebridge/accessories directory.  If you are only using Wemo with Homebridge then I would also delete the files in the .homebridge/persist directory.  Also close the Home app on your iOS device. This will basically do a reset

[2018-01-07 02:21] rwfisheriv commented on #124
Also having the same discovery issue.  I've tried the basic json configuration as above, and also explicitly calling out the specific WeMo device in the configuration...in both cases homebridge loads into the Home app but I never see the actual devices (WeMo Mini Switches).

[2018-01-07 09:56] Mattserati commented on #124
Whilst I appreciate the advice above, it hasn't worked and my problem still persists.

[2018-01-07 20:21] DMBlakeley commented on #124
Relooking at your log file I am not sure that you have Homebridge installed correctly.  The first lines indicate that files are not being found.  You also have more devices than just Wemo.  Would be good to see your whole config.sys file (please blank out any account username/passwords.  What platform do you have Homebridge running on?

[2018-01-08 07:16] Mattserati commented on #124
DMBlakeley - I'm running Homebridge using Docker on a Synology DS415+

I'm not sure where I would find my config.sys file - any help greatly appreciated

[2018-01-08 16:35] DMBlakeley commented on #124
FYI, Belkin just released their Wemo bridge today.  Price is $40 which is very reasonable considering all of the Wemo devices which you have already invested in.

Because I am curious I will do a little digging into Docker on a Synology NAS to see what I can learn.

[2018-01-09 01:27] DMBlakeley commented on #124
Interesting that you can run Homebridge on your NAS.  Found this article on GitHub, https://github.com/oznu/docker-homebridge/wiki/Homebridge-on-Synology for your configuration, which seems to be quite complete with respect to installation and update of Homebridge.  The screen grab under "Method 2" shows the directory structure and where you can find the config.json and the 2 directories that I me

[2018-01-09 09:36] Mattserati commented on #124
Thanks for your research DMBlakeley. Unfortunately at this stage Wemo Bridge is only available to US and Canadian customers, even though I received an email from them with a 40% discount code.

As for the running Homebridge on Synology NAS, I actually used the more popular Marcoraddatz version here: https://github.com/marcoraddatz/homebridge-docker which has worked previously, but at this stage se

[2018-01-10 00:33] DMBlakeley commented on #124
Use of Marcoraddatz implementation explains the other platforms that I see loading in your log file.  I am running Homebride on an older Mac Mini.

Before I suggest anything, I note on the marcoraddatz/homebridge-docker Github issues page that there is a recent entry for "Home App under iOS 11.2.1 does not find device" that you may want to look at.

[2018-01-12 02:42] airmandan commented on #124
You are missing some common libraries needed to get this to work.  Many distros include them, but these errors are maddening on those that don’t.

sudo apt-get install avahi-daemon avahi-dnsconfd avahi-discover avahi-utils

sudo apt-get install libnss-mdns

Do this, and reinstall homebridge.  It will then work.

[2018-01-12 07:22] Mattserati commented on #124
Thanks for the advice airmandan, but from what I can work out, Synology doesn't have apt-get as a command it recognises. I am assuming that you are suggesting SSH into the Synology from Terminal and type the above commands, but in both cases it errors as "command not found".

[2018-01-18 05:00] KaidenR commented on #110
@devbobo This issue can probably be closed now that the dimmer functionality is merged.

[2018-01-18 05:29] devbobo commented on #110
added in the latest version

[2018-01-18 05:29] #110 closed

[2018-01-18 05:29] devbobo commented on #123
closing, please reopen if this is still an issue.

[2018-01-18 05:29] #123 closed

[2018-01-18 05:34] #115 closed

[2018-01-18 05:36] #82 closed

[2018-01-18 05:37] #111 closed

[2018-01-23 16:54] nis1g opened #125 "Add WeMo Coffee Machine Support"
Hello,

Kindly consider adding Wemo Mr. coffee support , the coffee info is here : http://www.belkin.com/us/support-article?articleNum=117715
![image](https://user-images.githubusercontent.com/35738480/35288853-ac449fd4-001a-11e8-8856-efe69d8a7932.png)
it involves one command "Brew" and status " Ready, Offline, Refill Water, Brewed at X:00 "
Thank you

[2018-01-23 17:55] KaidenR commented on #125
I'm not sure there's a way to do this. It doesn't look like Homekit supports a "coffee maker" or similar service. Here's a list of the services HAP-Node does support:

AccessoryInformation
AirPurifier
AirQualitySensor
Battery
UUID
CameraRTPStreamManagement
CarbonDioxideSensor
CarbonMonoxideSensor
ContactSensor
Door
Doorbell
Fan
Fanv2
FilterMaintenance
GarageDoorOpener
HeaterCooler
HumidifierDehumi

[2018-01-24 02:50] devbobo commented on #125
@KaidenR it could probably be implemented using a few different services like `Switch` and a `ContactSensor`

@nis1g  But it requires support to be added to [wemo-client](https://github.com/timonreinhard/wemo-client) first, you might want to try there are a starting point, as I don't have one of these devices for testing and I can't buy them here.

[2018-01-24 19:44] hakt0-r commented on #110
It seems that the changes pertaining to this have been reversed? Am I right as I still cannot control the brightness through the Dimmer.

[2018-01-28 01:48] Ledbetter14 opened #126 "Dimmer Control"
Just a quick question, were dimmer controls implemented? I saw the PR merged etc, but readme still says no dimming and when i updated I still have no control over dimming level. Am I missing a step or is it not fully implemented yet? Thanks for all the excellent work!

[2018-01-28 03:33] Red1994 opened #127 "Device type"
Is there any way to customise the device type for wemo maker when set as a momentary switch?

I am using wemo maker as a momentary switch combined with a small DPDT flip/flop relay.  The momentary signal to the flip/flop relay is provided by the wemo maker (or a manual puch button wall switch connected in parallel) which changed the flip/flop relay state from NC to NO or from NO to NC.  I use one

[2018-01-28 22:29] airmandan commented on #126
Same question here.  On version 1.3.6.

[2018-01-29 00:46] savetheclocktower commented on #81
I've had this error for a while now. Since I can't get it to occur on demand, figuring out the root cause has involved logging a _bunch_ of stuff along the offending code path and trying various tweaks.

Here's what seems to be going on:

* Upon initialization, `WemoLinkAccessory` receives an `accessory` argument that has instance properties like `displayName, UUID, category, services, reachable,

[2018-02-02 15:07] 350d commented on #58
Hello guys! I guess I have a solution for ALL Blekin cameras here. Check my post here https://github.com/KhaosT/homebridge-camera-ffmpeg/issues/138
So, it works on any camera with local stream and without. Delay is very small and with proper tweaks (session keep alive) it should be useful. Take a look.

[2018-02-12 19:35] Judas2016 opened #128 "TypeError: Cannot read property 'addMembership' of null"
This error "TypeError: Cannot read property 'addMembership' of null" just started w/my Wemo plugin on Homebridge.  This had been working fine for a long time without issue. I did an NPM upgrade on the plugin and still get the same error.  Anyone else having this happen?  It brings down the entire homebridge process...

/usr/local/lib/node_modules/homebridge-wemo/node_modules/node-ssdp/lib/index.js

[2018-02-12 19:42] #128 closed

[2018-02-12 19:42] Judas2016 commented on #128
wrong plugin version

[2018-02-17 23:15] jagooch commented on #124
I have the same issue, I'm running on CentOS 7 so we need the equivalent commands for yum package installation, not the apt-get packages.

[2018-02-18 07:39] ayanm00 opened #129 "Multiple Instances"
Hi,

So all of the devices in my house are still running iOS 10.3.3 because of how unpolished iOS 11 has been. Unfortunately, Apple disabled the functionality of sharing homes on devices running a version of iOS older than 11.2.1. What I ended up doing was running multiple instances of Homebridge for each Apple ID that would be controlling devices in my home (yeah, lots of work). What I have notic

[2018-02-18 19:24] DMBlakeley commented on #129
I have been running Homebridge with iOS11.2.x since first available.  Yes, a bit of a rough start but I have had no issues with 11.2.5 and Homebridge/HomeKit.  By not upgrading, you are missing out with a lot of new HomeKit features with iOS 11.2.  Some of the features that I have implemented:

- Sharing with my wife ... no issues, we both get notifications.
- Automations leaving (all people gone)

[2018-02-19 07:15] ayanm00 commented on #129
Yeah, I like the new features, but I'm wary of updating because I barely get through the day on iPhone 7 with 10.3.3 (I'm never near a plug), and I've heard that 11 has far worse battery life. I'm waiting for 11.3 so I can update, clean install, and restore all my messages.

[2018-02-19 13:06] DMBlakeley commented on #129
There are lots of things that impact iPhone battery life from screen brightness to background activity.  Apple has a very good article at https://www.apple.com/batteries/maximizing-performance/.  Not mentioned, doing a restart often helps.

[2018-02-23 02:24] Ledbetter14 commented on #126
Clean install sorted it out, I now have full dimmer control.

[2018-02-23 02:24] #126 closed

[2018-02-23 02:53] airmandan commented on #126
Huh.  I had tried that previously to no avail, but did so just now and it does indeed work correctly.  Hooray!

[2018-02-23 02:55] airmandan opened #130 "Change Color of Osram Lightstrips"
So, it looks like the wemo-client package supports color control of Osram Lightstrips connected to the WeMo link.  I currently have successful on/off/brightness control of my light strips through this fantastic package, the only thing missing is color support of those devices.  Any chance we could get that support added in?

[2018-03-05 06:15] davidm0708 opened #131 "Maker Status Update"
Hi all,

Bit of a newbie, sorry if this is the wrong place for this question.

I use a Wemo maker via HomeBridge to open/close a garage door. However, if a remote is used to open and HomeKit is used to close, or vice versa, the status of of the door in HomeKit is out of sync.

Any idea how I can either force a status change when the door is opened by remote or reset/change the status?

Thanks

[2018-03-05 06:24] DMBlakeley commented on #131
Do you have a sensor (magnetic switch) hooked to the Wemo Maker to indicate that the garage door is closed?  Without this there is no status feedback.

[2018-03-10 07:18] ayanm00 commented on #129
I'll look into that. Thanks for the article! In the meantime is there any way to get what I'm looking for? Somehow updating the state change of all instances of homebridge when one instance is updated?

[2018-03-13 18:45] fce commented on #130
+1

[2018-03-17 23:43] seanxushen opened #132 "This plugin no longer works after firmware update"
I have a Wemo Light switch and a Wemo link with four bulbs (grouped to two groups). Before the firmware upgrade, everything works fine with Homebridge. But After the firmware upgrade, those devices are still appear on the Homekit (as off), and I can not operate them any more (on/off/dimm are all useless).

The firmware now is Wemo_WW_2.00.11054.PVR-OWRT-LS (for Light Switch) and Wemo_WW_2.00.11054

[2018-03-18 02:50] seanxushen commented on #132
Further testing , clear the assessories cache, my switch and bulbs disappeared. Basically plugin does not find those devices. Tried  homebridge-Wemo plug-in, same problem.

[2018-03-21 18:34] ebugakov opened #133 "how to ignore devices in configuration"
Hi!

do you have an example of the configuration, how can I ignore two WeMo devices in homebridge, while they are working with Apple HomeKit directly via WeMe Bridge?

I've tried to add into configuration something like this, but it seems not working:

"ignoredDevices": [221547K135678],[221547K1532467],

thanks for clarification in advance!

[2018-03-22 03:32] devbobo commented on #133
@ebugakov like this...

```"ignoredDevices": ["221547K135678", "221547K1532467"],```

[2018-03-22 12:12] ebugakov commented on #133
it works perfectly! thx!

[2018-03-22 12:12] #133 closed

[2018-03-22 22:49] devbobo commented on #130
@airmandan @fce I want to try to implement this...the only problem is that it appears that Osram have discontinued their products in Australia. Yesterday, I managed to track down a white Osram Lightify bulb and was able to implement the `ColorTemperature` characteristic. If I am unable to track any colour bulbs, I may need to take a stab at implementing the required characteristics and have you gu

[2018-03-22 22:51] airmandan commented on #130
@devbobo They're now marketed as Sylvania SMART+ at least on Amazon.  I did a pcap of the WeMo app changing the color for the Yonomi folks a bit ago and I'm pretty sure I've still got it kicking around.  If it would be helpful I'd be glad to send it over.

[2018-03-22 22:53] airmandan commented on #130
POST /upnp/control/bridge1 HTTP/1.1
Content-Type: text/xml; charset="utf-8"
SOAPACTION: "urn:Belkin:service:bridge:1#SetDeviceStatus"
Content-Length: 663
HOST: 10.0.1.12:49153
User-Agent: CyberGarage-HTTP/1.0

<?xml version="1.0" encoding="utf-8"?>
<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/" s:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
<s:Body>
<u:SetDeviceStatu

[2018-03-22 22:55] devbobo commented on #130
@airmandan thanks, I don't need to pcap data as `wemo-client` already supports these devices. It should be relatively straight forward to implement, but I like to do the testing myself as it cuts down the back and forth of troubleshooting any issues.

[2018-03-27 23:00] Snodripple opened #134 "HomeKit Codes"
How do you add Wemo accessories to the Home app in iOS?  I used a different package to install a camera to the Home app and it provided a pairing code.

[2018-04-12 07:43] SirNoble opened #135 "Multiple devices showing (ie.. Lightning Group, duplicate lights?)"
Hello All,
This plugin has been working very well for the past few months, due to recently changing my router, I had to change SSID/password for the Wemo Link and this is when the issues started to happen.
I have multiple lightning groups which I can't seem to get rid of.  I have deleted the persist and accessory folder,  deleted and re-added the Homebridge bridge as well as reinstall the Platform

[2018-04-13 00:01] DMBlakeley commented on #135
You mention that you have a "Wemo Link".  Did you mean "Wemo Bridge"?  If you have the Wemo Bridge then you need to exclude these devices from Homebridge by using the "ignoredDevices" declaration in the configuration file (see documentation).  This would account for duplicate devices.

[2018-04-13 00:11] SirNoble commented on #135
No @DMBlakely I’m talking about the Wemo Link which is the hub for Wemo lights, if I had the Wemo bridge I wouldn’t need to use this plugin ?

[2018-04-13 00:48] isignedup commented on #135
Have you tried deleting Homebridge from the Home App and then reconnecting to Homebridge? Perhaps the Home App is caching things?

[2018-04-13 04:11] SirNoble commented on #135
@isignedup Thank you for the suggestion, unfortunately I'v tried this multiple times without any luck.

[2018-04-21 21:00] TharuMCD opened #136 "WEMO Maker reports door open when closed and vice versa"
Dear community,

I have successfully installed the platform onto Homebridge on a Windows 10 machine.  Brilliant piece of work - thank you very much for sharing this.

One glitch is that Homekit reports the garage door being open when actually it is shut and vice-versa.  I suspect this is because the sensor is a reed switch which triggers when the door opens and is not triggered when closed.  In th

[2018-04-22 18:13] DMBlakeley commented on #136
Hi Michael,

Although the software could probably be patched, there are a couple of reasons that you should have a garage closed switch.  First, is that you really want to know if the door is closed (and your garage is secure) rather than NOT closed (where you have not idea).  Second, it is a bit of a safety consideration as you really have no idea if the door properly closed or was obstructed by

[2018-04-24 20:03] TharuMCD commented on #136
Thanks.

Your comments are all very logical.  I have one those up and over garage doors by Garador.  So the motor unit is suspended from the ceiling on the metal railing track of the whole setup – basically in the centre of the ceiling of the garage.  I looked at options alternative places to fit the sensor – but was put off by the fact that I then have to run a cable from the sensor such a long d

[2018-04-24 20:42] DMBlakeley commented on #136
Here are a couple of pictures of how I mounted the switch as well as the Wemo Maker.  I mounted the switch to the side, however, there is no reason that it could not have been installed closer to the middle of the door to reduce the cable run.

![img_1050](https://user-images.githubusercontent.com/29609206/39212927-242eda4a-47de-11e8-85b1-8813fbf11854.jpg)
![img_1051](https://user-images.githubuse

[2018-04-25 20:47] TharuMCD commented on #136
Thanks – that is very useful.  Will give it a go either this weekend or next, and let you know how things go.

Kind regards,
Michael.

From: DMBlakeley <notifications@github.com>
Reply-To: rudders/homebridge-platform-wemo <reply@reply.github.com>
Date: Tuesday, 24 April 2018 at 21:42
To: rudders/homebridge-platform-wemo <homebridge-platform-wemo@noreply.github.com>
Cc: Michael David <tharu@msn.com

[2018-04-26 11:27] crashflow opened #137 "mqtt or updated by alexa"
Anyone know how to get this to work with mqtt? Or my real problem statement: when I update via alexa to have that status reflected also in homebridge and by extension homekit?

[2018-04-30 23:24] lucanaut opened #138 "ECONNREFUSED?"
Hello
I had a power flicker in my house and while I am not sure whether that is what caused an issue, that's when I started seeing issues with my Wemo setup.  Some wemo switches will return an error message with ECONNREFUSED in the terminal window.  For one of these devices, In Homekit I see "no response".  For a couple of other ones in homekit it would seem I can control them and they toggle on/o

[2018-04-30 23:37] DMBlakeley commented on #138
Are the Wemo devices recognized through the Wemo app?  This will at least tell you if there is a problem with the Wemo devices or Homebridge is confused.  If no problems detected via the Wemo app I would shut down Homebridge, delete the .homebridge/accessories/cachedAccessories file and then restart Homebridge to redetect your Wemo devices.

[2018-05-01 05:17] ayanm00 opened #139 "All Lights Turning On"
I have 10 Wemo Light Switches and sometimes they all randomly turn on. When I go into Terminal on my Mac, it says Homebridge set the state of all of them to on. I disabled all of my automations (in both HomeKit and the Wemo app), but I'm still experiencing the issue. I've tried uninstalling homebridge-platform-wemo and reinstalling and deleting the persist and accessories folders, but that didn't

[2018-05-01 16:42] DMBlakeley commented on #139
This is certainly strange.  Are you sharing HomeKit with anybody?

[2018-05-02 12:34] ayanm00 commented on #139
Nope, it's just me.

[2018-05-02 14:54] ayanm00 commented on #139
Yeah, so all the devices are on 11.3.1, the HomePod is on 11.3, the Apple TV 4K and 4 are on 11.3, and the Mac that I have Homebridge running on is on High Sierra 10.13.4. I'm on the latest version of all my Homebridge plugins and Node.JS. I have an AirPort Time Capsule, and the wireless client list doesn't really have any devices out of the ordinary. I'm going to try and reformat my MacBook and s

[2018-05-02 15:15] DMBlakeley commented on #139
You have a very similar setup to me. Seems a bit drastic to reformat your Mac but certainly no harm. I recently installed the Wemo bridge and it seems to work well.

[2018-05-04 08:43] joenruschia commented on #49
I too would like this option please.

[2018-05-04 18:27] ayanm00 commented on #139
Interesting... the lights did it again, but it appears that my Wemo amino Outlet is not affected by the issue.

[2018-05-04 19:30] DMBlakeley commented on #139
Didn’t ask this before but are all of you Wemo devices up to the latest firmware?  The Wemo Mini Outlet is at a different firmware revision than the original outlet which it replaced.

[2018-05-04 20:14] ayanm00 commented on #139
Yeah, they're all on 11057. The Wemo app didn't give me a warning when I opened it.

[2018-05-04 20:28] DMBlakeley commented on #139
My original Wemo Outlets and Light Switches are on 11057, however, my Wemo Mini Outlet is on 11059.  Not that this answers your original problem.  You don't happen to have Amazon Alexa or Google Assistant also connected to your Wemos?

[2018-05-04 20:30] ayanm00 commented on #139
Nope, all Apple here!

[2018-05-04 21:06] lucanaut commented on #138
Great suggestion thank you.  It appears in fact that those couple devices are not appearing in the Wemo app either so something must have happened to them in this surge.  I will reset them and see what happens.  Also not sure if this is related, but in the terminal window running homebridge I am seeing messages like:

[Wemo Platform] Online and can update device: undefined [bunch of numbers...]

N

[2018-05-04 22:37] DMBlakeley commented on #138
You might want to check if firmware updates are available for your Wemo devices.  In the Wemo app select "... More" in the lower right, then "Settings & About", then "Hardware info".

[2018-05-04 22:55] lucanaut commented on #138
It appears they are all up to date.

[2018-05-05 13:34] DMBlakeley commented on #139
You have me quite stumped!  I have not experienced any issues with Homebridge or the Wemo app randomly turning on lights.

[2018-05-05 18:04] ayanm00 commented on #139
Let me know if you experience any issues with your official Wemo Bridge. I've read reports online that people have to power cycle it every once in a while because the Home app stops seeing it.

[2018-05-06 14:53] DMBlakeley commented on #139
I have seen a Wemo plug disconnect a couple of times from the Wemo bridge but then will reconnect a few minutes later.  I have not seen an issue with the Home app not seeing the Wemo bridge.

[2018-05-09 23:03] Segelfeldt opened #140 "Rules as switches?"
I think it would be cool to have rules as switches then i can create scenes that lets me enable/disable specific rules.

For example i have a bedroom lamp rule to turn on the lamp only on weekdays. It would be nice if i easy could disabled this for days i want to sleep in for example on vacation days :)

In additional to adding rules as switches we might need an optional parameters we might want t

[2018-05-16 21:55] tomasakegreiss opened #141 "Wemo maker not working and crashing homebridge. ERROR"
I have hass.io setup in a raspberry pi and i am running homebridge add on. I have a wemo dimmer that works with homebridge but the second i plug in the wemo maker it crashes homebridge.

this is the error that appears

events.js:183
      throw er; // Unhandled 'error' event
      ^
TypeError: Cannot read property 'forEach' of undefined
    at /usr/lib/node_modules/homebridge-platform-wemo/node_mo

[2018-05-16 22:13] DMBlakeley commented on #141
Did you stop Homebridge before plugging in the Wemo Maker and then restart Homebridge?

[2018-05-16 22:17] tomasakegreiss commented on #141
yes. every time the wemo maker connect to the internet it crashes homebridge.

[2018-05-16 22:26] tomasakegreiss commented on #141
is register by homebridge

[2018-5-16 19:24:11] [WeMo Platform] Online: Garage door [94103ED4059C]
[2018-5-16 19:24:11] [WeMo Platform] Garage door - Get Current Door State: Open

but then it crash.

[2018-5-16 19:25:16] [WeMo Platform] Garage door - Set Target Door State: Closed (triggered by External)
[2018-5-16 19:25:16] [WeMo Platform] Garage door - Get Current Door State: Closed
events.js:183

[2018-05-16 23:33] DMBlakeley commented on #141
I have the Wemo Maker installed on my garage door and have had not seen the issue you are reporting.  Do you have your Wemo Maker installed on the garage door with a sensor switch connected to indicate that the garage door is closed?  Without the sensor switch, Homebridge does not know the real state and may be why it crashes.

[2018-05-16 23:41] tomasakegreiss commented on #141
I have a sensor switch connected to the Wemo maker  and on the homebridge add on it reads the sensor correctly.

[2018-05-16 23:56] DMBlakeley commented on #141
I am running Homebridge on a Mac mini without issue.  If I understand correctly, you have hass.io and hombridge running on your raspberry pi.  Is there a possibility that the 2 applications are conflicting with each other?

[2018-05-20 02:46] tomasakegreiss commented on #141
you are correct on the setup but hass.io is home assistant and it run inside home assitant. the wemo maker is conflicting in some way with homebridge on my setup.

[2018-05-20 13:00] stlouey opened #142 "IgnoredDevices"
Hi,

Have a wemo bulb that i no longer have which still must be in the cloud account even though it does not show in the wemo app. The plugin finds this bulb as offline and is being presenting to homekit. I have tried using the option ignoredDevices and inputting the serial number that is detected but the devices continues to display even after deleting the cached devices from homebridge. Can some

[2018-05-20 19:40] DMBlakeley commented on #141
A suggest ... try stoping Homebridge, delete the .homebridge/accessories/cachedAccessories file, make sure the Wemo devices are plugged in and connected to your intranet, and restart Homebridge.  When Homebridge restarts it will scan for Wemo devices and rebuild this file.  See if it still crashes.

[2018-05-20 23:31] stlouey commented on #142
Hi DMBlakeley,

Thanks for the quick response. Just advising that i have already done this without it fixing the issue? The device is actually still in the cloud i can confirm as it shows sometime in the wemo ios app. I have tried calling wemo support and they are having issues deleting.  Was thinking using the ignoredDevices option in the config.json file would have been a quick fix? How do i kno

[2018-05-21 00:20] DMBlakeley commented on #142
The ignoredDevices option does work as I have several devices ignored in my setup.  Your entry should be of the format (2 devices shown):
          "ignoredDevices": ["23A59EV016xxxx","23A595V017xxxx"]
Where the serial number(s) are listed in quotes.

[2018-05-22 04:10] tomasakegreiss commented on #141
i just erase all my setup and re do it.

its working now. thank you

[2018-05-22 04:10] #141 closed

[2018-06-16 22:39] airmandan commented on #130
Bump :)

[2018-06-21 00:13] devbobo commented on #127
@Red1994 version 1.3.7 should support changing the Maker from a `GarageDoorOpener` to a `Switch`. Follow this [wiki article](https://github.com/rudders/homebridge-platform-wemo/wiki/Change-WeMo-Maker-from-GarageDoorOpener-to-Switch) to change it over.

[2018-06-21 00:13] #127 closed

[2018-06-21 00:45] #131 closed

[2018-06-21 00:55] devbobo commented on #81
@savetheclocktower @SirNoble sorry guys, GitHub notifications leave a lot to be desired, especially since I'm not the repo owner.

I see where the problem is...hopefully, I can get a fix out in the next few days.

[2018-06-21 01:14] devbobo commented on #81
@savetheclocktower can you please give this [version](https://raw.githubusercontent.com/devbobo/homebridge-platform-wemo/wemolink-bug/index.js) a go ?

I don't use WeMoLink accessories in my house, so it's probably better for someone who does to confirm.

[2018-06-21 01:18] devbobo commented on #136
Closing this, since it's simply a matter of not using a reed switch or similar.

[2018-06-21 01:18] #136 closed

[2018-06-21 02:07] savetheclocktower commented on #81
No dice:

[code]

[2018-06-21 02:32] savetheclocktower commented on #81
Dropped it in and nothing has blown up so far. I'll keep an eye on the log for a couple hours and let you know. Thanks!

[2018-06-21 02:35] SirNoble commented on #81
Testing as well, I'll let you know how it goes.

[2018-06-23 00:17] devbobo commented on #81
@savetheclocktower @SirNoble any updates ? hopefully, no news is good news :)

[2018-06-23 01:22] savetheclocktower commented on #81
Yeah, no crashes for me either. :shipit:

[2018-06-23 05:40] devbobo commented on #81
I've released this bug fix in version `1.3.8`.

[2018-07-06 13:56] BenjaminK87 opened #145 "Wemo Maker Sensor state"
Hi everyone,

your plugin "homebridge-platform-wemo" is used from ioBroker. I asked there if it would be possible to receive the sensor state of the wemo maker as an object. They advised me to contact you about a "characteristic".

https://github.com/ioBroker/ioBroker.ham-wemo/issues/2#issuecomment-402989995

Can you help on this edge?

Best regards
Benjamin

[2018-07-07 02:12] taropaa opened #146 "TypeError: Cannot set property '[...]' of undefined"
Hi, I'm getting

[code]

My config.json looks like this:

[code]
Wether I have the BelkinWeMo added in there or not, I am still getting that error.

[2018-07-07 08:02] PPPP114 opened #147 "Wemo maker garage door with reverse state"
Hello, I am new here. I just installed wemo platform to “homekit” 2 wemo maker. One as a garage door opener and othe has a switch. The garage door appears in homekit with the reverse state, when the door is closed the homekit icon says its open, and the reverse. For the switch when the state is off the sensor icon in homekit says is connected. How can I resolve? In the wemo app they work with the

[2018-07-28 23:44] airmandan commented on #130
I see with 1.3.8 we gained the ability to adjust the color temperature of these strips, awesome!  Looks like the way the commit was made laid the groundwork for being able to change the RGB color as well.  Thanks for continuing to work on this project and I look forward to RGB functionality soon!

[2018-07-31 00:47] devbobo commented on #130
@airmandan I ended up getting my hands on some `OSRAM Lightify CLA 60 RGBW` bulbs, but I couldn't get them to talk to the `WeMo Link`. Info I found at the time, indicated that they weren't supported.

[2018-08-01 22:55] airmandan commented on #130
@devbobo unfortunately Belkin decided to lock down the WeMo app to make it impossible to pair the Link to any but their whitelisted devices, which includes a whopping five things, one of which is discontinued.

If you’re not able to source a supported Osram RGB product in AUS (the RGBW lightstrips or the Gardenspot Mini) I might be able to arrange to ship one to you, or I could take a stab at baki

[2018-08-06 15:01] ehemmete commented on #132
I am seeing the same problem.  Could you please share your config.xml with the manual device entries?  My service fails to load whenever I try to add that key.

[2018-09-28 22:40] Hucksleyy91 opened #148 "Wemo insight showing incorrect total consumption"
My total consumption is going up so fast it’s saying I’m using 100kwh in under 5 minutes I’ve set my electricity price to $0.19 in both wemo app and the home app, still showing wrong info

[2018-11-08 15:56] CLARENNE-Q opened #151 "Have Power Consumption for Wemo Insight Switch"
Hi,

Thanks for the beautiful module, it's really appreciated ! :-)

Do you plan to implement to show power consumption data for a Wemo Insight Switch?

The data is able to have with the wemo-client and will be a good features to add on setting information of homekit device.

Best regards,
Quentin

[2018-11-17 23:45] lucanaut opened #152 "ignoredDevices worked for most..."
Hello
I am using ignoredDevices to ignore a number of Wemo dimmers and Minis that are now directly connected to Homekit.  The number of devices total is approximately 25.  When I restart homebridge, 4 devices are still visible.  Not sure if I've hit some max?  I've tried breaking the command over two lines (two lines of ignoredDevices) but everything on the second line shows up in Homebridge.

Any

[2018-12-14 11:23] chimai opened #153 "Add support for Wemo Humidifier"
Could you please add support for [Wemo Holmes Humidifier](https://www.holmesproducts.com/wemo-humidifier.html)? The [wemo-client](https://github.com/timonreinhard/wemo-client) supports it and I would like to use my Humidifier inside HomeKit.

[2018-12-30 12:11] KnicKnic commented on #151
It is in custom characteristic.
Current consumption is in https://github.com/rudders/homebridge-platform-wemo/blob/00913d119b36332ad4cdbb68aba6e782c915af40/index.js#L939-L950

Daily consumption is in https://github.com/rudders/homebridge-platform-wemo/blob/00913d119b36332ad4cdbb68aba6e782c915af40/index.js#L1157-L1171

Home app does not show this info, you can use one of many other homekit apps to

[2019-01-13 02:18] timothy-gibson commented on #33
Hi all, I'm still encountering this problem - did anyone end up working out a fix? I've found that if I open up the Wemo App and force a refresh of the devices, the correct statuses are then propogated to homebridge. Is it possible to do this periodically using this plugin?

Node Version: v8.15.0
Homebridge Version: 0.4.45
homebridge-platform-wemo Version: 1.3.8

Running one wemo link with multipl

[2019-01-15 21:23] alexargo commented on #153
Looks like the [Wemo Holmes Heater](https://www.holmesproducts.com/wemo-heater-mobile.html) is also supported by wemo-client. Would be cool to add this as well. I would try to add this myself, but I'm not super familiar with node dev environment... maybe I should figure it out.

[2019-01-18 22:07] tman785 opened #154 "Recoverability of failed devices"
I have an issue where devices may report an error as "EHOSTUNREACH" or "ETIMEDOUT" for some reason.  Probably some wifi issues.  Either way, in order for the devices to come back online within homebridge, I have to restart the service.  It appears that once a device is in a failed state, it stays there without attempting to recover.  How can we change that?

[2019-01-27 03:07] GeorgeeNico commented on #146
Seem to be getting the same issue.

[2019-01-27 03:10] GeorgeeNico opened #155 "Getting a TypeError "Cannot set property '//' to undefined""
I am getting this error when loading up my homebridge:

`/usr/lib/node_modules/homebridge-platform-wemo/index.js:240
    this.accessories[accessory.UUID] = accessory;
                                     ^

TypeError: Cannot set property 'e4b9430e-ef3f-497e-860f-21dc7aca9520' of undefined
    at WemoPlatform.configureAccessory (/usr/lib/node_modules/homebridge-platform-wemo/index.js:240:38)
    at

[2019-01-27 19:17] DMBlakeley commented on #146
In your config.json file the line "discovery": true is not required as this is the default.

I also do not recognize the "homekit_safe": "1" line.  I do not find in the online documentation for homebridge-platform-wemo.

May want to delete these 2 lines and see if you still have the issue.

[2019-01-27 21:47] #155 closed

[2019-01-27 21:48] GeorgeeNico opened #156 "Getting a "The requested platform 'BelkinWemo' was not registered by any plugin" Error"
Brand new install of Homebridge with clean install of the homebridge-platform-wemo plugin as well. Basic config, not sure what's causing this.

[2019-01-27 21:49] #156 closed

[2019-01-28 09:19] BradJJ2000 opened #157 "Homebridge.err massive due to wemo insight log lines"
I have stability issues with my rPi Homebridge and I think it might be caused by the Homebridge.err log file size.

The below log lines are logged repeatedly in Homebridge.err. Is there something wrong in my environment? I’m about to try to turn off error logging for this wemo plugin but it would be great to know what’s really going on.

Thanks.

Mon, 28 Jan 2019 09:07:47 GMT wemo-client Incoming

[2019-01-29 22:56] eightnoneone commented on #142
@DMBlakeley Related to this, I got confused on the serial number as what prints in the logs on initial discovery looks like a serial number, but isn't. Not sure where it comes from, but having the log list the actual serial number might make it less confusing for new users.

[2019-02-03 17:08] vzlgdu opened #158 "reduce log information"
Hi, is it possible reduce logging about energy consumption? In my configuration, every time that a wemo switch is activated, a record about energy consumption is written in the log every 5 seconds...

Thanks

[2019-02-04 15:39] DMBlakeley commented on #158
I assume that you have a Wemo Insight switch.  Lines 1155 and 1156 in index.js creates the log entry whenever there is an increase in kWH of usage with a resolution in watts.  You could comment out these lines to stop the logging if this information is not useful to you.

[2019-02-04 15:44] sherazan commented on #158
Please, where is locate index.js? My configuration is running on Raspbian… Thanks

[2019-02-04 15:56] DMBlakeley commented on #158
I am using a Mac Mini and unfortunately I am not familiar with where the Homebridge files are located on Raspbian.

[2019-02-04 15:58] sherazan commented on #158
Solved. The path is: /usr/local/lib/node_modules/homebridge-platform-wemo

The line involved is also the 923.

Restarted and solved.

Thanks a lot for your work!

[2019-03-01 20:44] Fuenti opened #159 "Should be able to exclude Wemo Mini"
We should be able to exclude WeMo Minis from this homebridge. Homekit can now connect directly to WeMo Minis. Therefore, homebridge is not needed for them. Using the homebridge results in a second instance of every WeMo Mini. This is problematic.

[2019-03-01 23:20] DMBlakeley commented on #159
I also have Wemo Minis that I have connected to the Wemo bridge.  Use the “ignoredDevices” option in the configuration file to exclude these Wemo Minis.  Enter the serial numbers in quotation marks for the Wemo Minis that you want to exclude.

[2019-03-04 07:26] Fuenti commented on #159
I tried to exclude WeMo Minis using the recommendation above, but it doesn't seem to work. I found the serial numbers within HomeKit and I put them into Config.json as displayed below. I checked the numbers twice. What am I doing wrong?

 {
      "platform": "BelkinWeMo",
      "name": "WeMo Platform",
      "expected_accessories": "4",
      "ignoredDevices": ["221734K01058BD","221734K0107A8D","2

[2019-03-05 02:49] DMBlakeley commented on #159
The “ignoredDevices” entry is of the correct format and the serial numbers also appear to be valid. I do not recognize the “expected_accessories” line and do not have in my config.json file. Also do not find a reference in the documentation.  Would suggest deleting this line.  Also assume that you either stopped and restarted homebridge or rebooted the device that you have homebridge running on.

[2019-03-26 13:24] degofedal commented on #82
Thanks so much for this plugin. I'm having the same issue using a WEMO Maker with sensor as a Garage Door opener. Every time I reboot Homebridge it gets removed from all automations and associated scenes in the Home app. Really hoping for a solution. Thanks again.

[2019-04-10 18:28] degofedal opened #160 "Homebridge restart removes Wemo Maker from scenes, automations etc."
Hi

Thanks for this great plugin. I'm using a Wemo Maker as a garage door opener. It's working great except for every time restart Homebridge, the Wemo Maker is removed from all scenes, button actions and automations.

Example/screenshot below: One of my Aqara push buttons/switches opens (single press) and closes (double press) the the garage door. Every time Homebridge is restarted the garage doo

[2019-04-30 06:09] degofedal commented on #160
Seems like it is an old issue also affecting other Wemo devices. See #82

[2019-06-07 01:48] ukypayne commented on #132
Thank you for this. I had the same issue where I couldn't see any devices without specifying the 49153 port. Adding that and it fixed it instantly. I am not sure if I am having this problem since I have my IoT things on a separate VLAN from my Homebridge, but this is very useful info that should be posted with the readme.

[2019-06-07 01:51] ukypayne commented on #152
I know this is very old, but did it matter what order you put things in? Was it always the last 4 devices that would show up when they should be ignored?

[2019-06-07 23:02] DMBlakeley commented on #152
I have 12 ignored devices slit over 3 lines for readability and have no issues. Don't seem to see a limit in the code limiting the max number.

[2019-07-26 14:43] vzlgdu opened #161 "Problem removing HD Cam"
Hi, I'm using with success your plugin with 3 wemo switch.
For tests I added an Belkin Netcam HD ad the related motion sensor was added to my homebridge istance. Now I removed the Netcam, but the sensor is always available in HB... I tried to remove the plugin and to reinstall again, but the Netcam is always available also if not active in my network. I would avoid to delete the "accessories" fold

[2019-07-26 21:15] DMBlakeley commented on #161
Easiest way is to delete the “cachedAccessories” file and restart Homebridge.  Alternately, you could you could make use of the ignoredDevices option listing the serial number of the camera. Once you stop and restart Homebridge the camera should be ignored.

[2019-07-27 06:16] sherazan commented on #161
If I delete the “cachedAccessories” I will lose all my configuration... about to use ignoredDevices: I already use it but iit doesn't work...

[2019-07-27 13:58] DMBlakeley commented on #161
Make sure that you have used serial numbers and not mac addresses in the ignored device statement, see example below:

          "platform": "BelkinWeMo",
          "name": "WeMo Platform",
          "ignoredDevices": ["23A59EV016xxxx"]

Also make sure that you reboot the device that you are running Homebridge on after you have made these changes.

[2019-08-02 22:16] JimDog546 opened #162 "Not working with Wemo firmware 11401"
I have been using this plugin successfully for over a year to interact with one [Wemo Switch Smart Plug](https://www.belkin.com/us/support-product?pid=01t80000002xFCbAAM&_ga=2.153674175.600045537.1564783425-2009546615.1564783425) and two [Wemo Smart Light Switches](http://www.belkin.com/us/support-product?pid=01t80000003JL9uAAG&_ga=2.99011737.600045537.1564783425-2009546615.1564783425).  I am not

[2019-08-03 01:38] DMBlakeley commented on #162
The Wemo Smart Plug and v2 of the Light Switch with this level of firmware provide native HomeKit support. You can add these devices as accessories directly. If these are your only devices you no longer need HomeBridge.

[2019-08-03 01:49] JimDog546 commented on #162
These are the first generation plug and switches. Neither have HomeKit support even in this newly released firmware. I'm familiar with it; I also have 3 Wemo Mini plugs that I am using natively with HomeKit (and have them excluded in my Homebridge config for this plugin), but that isn't an option for the older devices unfortunately.

[2019-08-03 02:01] DMBlakeley commented on #162
I have my 1st generation devices connect to HomeKit with the Wemo Bridge rather than HomeBridge. Latest firmware update was a security update which may have blocked connection with HomeBridge.

[2019-08-03 02:41] JimDog546 commented on #162
After further analysis it seems like only the discovery process is affected by the new firmware. Adding all three devices as manualDevices in the configuration restored functionally.  Of course now I have to give them DHCP reservations as well but altogether it's an easy workaround.

[2019-09-16 09:28] GarrettTrott commented on #162
I'm having the same issue with firmware 11408 can please tell me how you manually added the devices in the config? I have 3 older switches I would love to get back working without buying the dedicated hub from wemo.

[2019-09-16 09:31] GarrettTrott opened #163 "Not working with firmware 11408"
Hello, This is no longer working for my switches with the new firmware updated to my older wemo switches. any fix?

[2019-09-16 16:37] JimDog546 commented on #162
@GarrettTrott: You'll need to know the IP addresses of the Wemo devices on your home network.  I do not know of a way to find this information in the Wemo app.  In my case I could view connected devices in my router and was able to identify them that way.  I was also able to assign them DHCP reservations which will keep their IP addresses the same.  Otherwise it's possible the IP addresses could c

[2019-09-16 17:26] GarrettTrott commented on #162
Thanks so much, JimDog546, worked perfectly!

[2019-09-18 21:15] apollo316 commented on #162
Borked with this for HOURS! Your post saved **my sanity** and fixed my light switch gen1 and insight plug. THANK YOU!!! I also turned discovery off since all it needed to discover was these two devices.

[2019-10-06 05:07] fmp777 commented on #23
Apparently WEMO can homekit now, but they excluded coffee machine :(

[2019-10-25 04:54] nathankellenicki opened #164 "Unable to set discovery = false"
A bug in the code means its currently impossible to turn discovery off

https://github.com/rudders/homebridge-platform-wemo/blob/00913d119b36332ad4cdbb68aba6e782c915af40/index.js#L110

Setting discovery to `false` will cause the initial condition in the `||` operator to fail, resulting it being set to `true` anyway. :)

In essence, `this.discovery = this.config.discovery || true;` is equal to `thi

[2019-11-11 06:33] smanders7 opened #165 "Error while adding GarageDoorOpener via WemoMaker"
Experiencing this error while re-adding an instance of homebridge after removing "accessories" and "persist" folders.  I also bumped the MAC Address and Hub ID to make sure all the devices were added from scratch.  I did update to the latest version of Homebridge which is now coming back as 0.4.50.  I am running this on a raspberry-pi in a docker container.  I am seeing this error while discoverin

[2019-11-11 07:12] smanders7 commented on #165
Can't explain it, but I am not longer getting this error on subsequent reboots.  Closing.

[2019-11-11 07:12] #165 closed

[2019-11-15 22:52] idcrook commented on #164
A way to have a falsifiable override for a Boolean var with a default value of true:

[code]

[2019-12-18 10:14] andrewWandrewW opened #166 "Fauxmo compatibility"
I have a RPi3 with 8 channel relay set up for some home automation, I use a combination of fauxmo and a custom GPIO plugin and the devices display as 8 x WeMo switches to Alexa.

When adding this plugin to homebridge I can manually specify the device setup XML addresses and this allows them to be recognised as accessories with homebridge, I **can** control them on/off via homebridge-config-ui so t

[2020-01-05 17:41] lukelbro commented on #166
I have the same issue, I have also tried home assistant and have successfully added one device but I can’t figure out a way of adding the rest of them.

[2020-01-23 17:56] knosalaa commented on #76
Lumpypoopie,
Thanks for your comments, I have been using wemo maker for some time now. I always wanted to use native Apple Homekit and even purchased wemo bridge but as you know it do not support wemo maker. Can you please post source or your directions how to bring wemo maker (I’m using it for garage door) so HomeKit will recognize it and I can use it with Siri?
Thanks a bunch

[2020-01-24 12:34] stingray75 opened #167 "Friendly name is not being used"
My WeMo Insight devices are all being detected as "Wemo Insight" within Homebridge and are not using the names I have set in the WeMo app.  I can rename these using the Home app and homekit is working fine, but it makes reading the Homebridge logs challenging as I can't tell which Insight it's referring to.

[1/24/2020, 12:13:12 PM] [WeMo Platform] Online: Wemo Insight [6038E01B7FXX]
[1/24/2020, 1

[2020-01-24 13:42] stingray75 commented on #167
I reinstalled Homebridge, which set a new name, username and port for the bridge and this has fixed it.

[2020-01-24 13:42] #167 closed

[2020-01-29 03:05] SirNoble opened #168 "TypeError: Cannot read property 'setupDevice' of undefined at...."
Installed this plugin through HOOBS, been fine but now has been giving this error:

`[Homebridge] [1/29/2020, 00:55:34] TypeError: Cannot read property 'setupDevice' of undefined at /home/hoobs/.hoobs/node_modules/homebridge-platform-wemo/index.js:132:30 at /home/hoobs/.hoobs/node_modules/wemo-client/client.js:174:7 at Parser.<anonymous> (/home/hoobs/.hoobs/node_modules/xml2js/lib/parser.js:304:18

[2020-02-27 02:28] #49 closed

[2020-04-07 14:34] rmit-s3603463-stuart-wood opened #173 "Error: The requested platform 'BelkinWeMo' was not registered by any plugin. at API.platform"
Hi there,
Getting this error after updating this plugin.

`
Error: The requested platform 'BelkinWeMo' was not registered by any plugin. at API.platform (/home/hoobs/.hoobs/node_modules/@hoobs/homebridge/lib/api.js:115:19) at Server._loadPlatforms (/home/hoobs/.hoobs/node_modules/@hoobs/homebridge/lib/server.js:283:47) at Server.run (/home/hoobs/.hoobs/node_modules/@hoobs/homebridge/lib/server.js:

[2020-04-07 14:36] donavanbecker commented on #173
what version of the plugin were you updating too?

[2020-04-07 14:38] donavanbecker commented on #173
looks like the same issue as #168, looks like a hoobs thing. I would recommend using regular [homebridge](https://github.com/homebridge/homebridge).

[2020-04-07 14:39] rmit-s3603463-stuart-wood commented on #173
I'm using the HOOBS UI, and I believe it updates from 1.3.8 to 1.5?

[2020-04-07 14:39] donavanbecker commented on #168
looks like the same issue as #168, looks like a hoobs thing. I would recommend using regular [homebridge](https://github.com/homebridge/homebridge).

[2020-04-07 14:48] #125 closed

[2020-04-07 20:46] twynne commented on #173
Updated to v1.5.1 today and have the same issue. I'm running native homebridge, nothing to do with hoobs here.

[2020-04-07 21:38] #134 closed

[2020-04-07 21:38] #135 closed

[2020-04-07 21:38] #137 closed

[2020-04-07 21:38] #138 closed

[2020-04-07 21:38] #139 closed

[2020-04-07 21:38] #140 closed

[2020-04-07 21:38] #145 closed

[2020-04-07 21:38] #146 closed

[2020-04-07 21:38] #147 closed

[2020-04-07 21:38] #148 closed

[2020-04-07 21:38] #151 closed

[2020-04-07 21:38] #152 closed

[2020-04-07 21:38] #153 closed

[2020-04-07 21:38] #154 closed

[2020-04-07 21:38] #157 closed

[2020-04-07 21:38] #158 closed

[2020-04-07 21:38] #159 closed

[2020-04-07 21:38] #160 closed

[2020-04-07 21:38] #161 closed

[2020-04-07 21:38] #162 closed

[2020-04-07 21:38] #163 closed

[2020-04-07 21:38] #164 closed

[2020-04-07 21:38] #166 closed

[2020-04-07 21:38] #168 closed

[2020-04-07 21:39] #23 closed

[2020-04-07 21:39] #58 closed

[2020-04-07 21:39] #73 closed

[2020-04-07 21:39] #76 closed

[2020-04-07 21:39] #79 closed

[2020-04-07 21:39] #95 closed

[2020-04-07 21:39] #98 closed

[2020-04-07 21:39] #101 closed

[2020-04-07 21:39] #117 closed

[2020-04-07 21:39] #120 closed

[2020-04-07 21:39] #121 closed

[2020-04-07 21:39] #124 closed

[2020-04-07 21:39] #130 closed

[2020-04-07 21:39] #132 closed

[2020-04-07 21:39] donavanbecker commented on #173
I updated on a relatives plugin and had no issues.

[2020-04-07 21:44] twynne commented on #173
No idea... Was working fine before. Only updated as saw there was an update in config UI.  Even with no devices configured it fails and prevents homebridge running. Remove it and all is fine again.

[2020-04-07 21:46] donavanbecker commented on #173
if you install after you remove it, does it work?

[2020-04-07 22:21] donavanbecker commented on #173
What is your node and npm version?

[2020-04-08 02:09] donavanbecker commented on #173
update your node and npm to 12 or create and the plugin will work.

[2020-04-08 02:09] #173 closed

[2020-04-08 08:52] twynne commented on #173
Updated node to latest, npm to latest.  Still didn't work initially as even with no reference to platform-wemo in my config it was still throwing errors.  I had to go and manually delete all reference to wemo from my server filesystem, reinstall, and then it appears to have worked.

Sorry to say updating anything on this server is starting to fill me with dread.  Inevitably it breaks something eve

[2020-04-08 10:00] donavanbecker commented on #173
what's our homebridge version?

[2020-04-08 10:03] twynne commented on #173
0.4.53

[2020-04-08 10:05] donavanbecker commented on #173
do you have config-ui-x installed?

[2020-04-08 10:08] twynne commented on #173
Yes, latest

[2020-04-08 10:11] donavanbecker commented on #173
not sure then because I haven't had any issues at all.

[2020-04-08 15:56] stoplis opened #175 "Latest version causes Homebridge to fail"
After updating to 1.5.1 this plugin stops Homebridge from loading with the following errors.

[code]

[2020-04-08 15:58] donavanbecker commented on #175
it has to be something with your setup, I am not experiencing this at all. Sorry

[2020-04-08 16:58] #175 closed

[2020-04-10 18:11] trineu commented on #175
Here also gives the same error

[2020-04-11 05:04] donavanbecker commented on #175
try v1.5.4

[2020-04-11 05:04] donavanbecker commented on #173
try v1.5.4

[2020-04-11 07:16] stoplis commented on #175
v1.5.5 fixed this issue, thanks.

[2020-05-13 20:21] Scottbee opened #180 "It is not currently possible to add Wemo Plugs v1"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-05-13 20:22] #180 closed

[2020-05-14 12:20] Scottbee commented on #101
I seem to also be unable to add my V1 Wemo Smart Plugs. What changes need to be made to the configuration file to allow them to pair?

[2020-05-27 18:08] quizatsaderac opened #181 "wemo has changed its connection system"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

wemo has changed its connection system.

it is now necessary to create a wemo account with email and password to be able to use the accessories.
I think that an update of the plug in is necessary

**Describe the solution you'd like**
A cle

[2020-05-28 12:54] rcoletti116 commented on #181
I, for one, am going to hold off and avoid their account system as long as possible. I've never had an issue with the current set up, and based on twitter activity they've made a mess with the latest app update. That said, I am curious about the direction of this plugin with this news and whether it can support both old and new methods.

[2020-05-28 14:14] loudgazelle commented on #181
the account system is required if you want to add a new device to the wemo app, or if you reset an existing device and try to add it back to the app. I discovered this after resetting a wemo bulb. I think this means that the plugin will need to be updated to allow for the login option because they force you to use it in order to reset existing devices or add new devices.

@rcoletti116 is right whe

[2020-05-31 07:51] twynne commented on #181
Having the same issues. Bizarrely the plugin seemed to continue working initially, but maybe I imagined it!

Does anyone know once an account  hasBeen created if you can go back?

[2020-06-01 14:22] loudgazelle commented on #181
I bit the bullet and created the login, nothing seems to have changed with regard to the API access. I think the "security" benefit that they've added only pertains to wemo apps - meaning that someone can't hop on my network and use their wemo app to control my devices without having my login. They could, however, hop on my network and control my devices via the API.

[2020-06-01 14:28] quizatsaderac commented on #181
all seem to be working fine now. the wemo app and the pugin hombridge and apple home :)

[2020-06-06 14:27] hanzala-123 opened #183 "need help connecting!-noobie BTW"
hi, i am new to using homebridge. I have installed it on my raspberry pi 4 and am facing trouble linking my wemo smart plug to my homebridge configuration. I have a wemo account and thought it would make more sense adding username and password into the configuration. anyways, i cannot connect my wemo plug to my account and do not know how to set it up in the config file.

kind regards, hanzala.
![

[2020-06-06 14:32] donavanbecker commented on #183
the plugin should just find your plugin. you will have to get it connected to the wemo app first.

[2020-06-06 14:32] #183 closed

[2020-06-09 21:18] LordZork commented on #181
Can someone explain how to get devices connected to/through the plugin, and into HomeKit (into the Home app), once the plugin is installed?

It is my understanding that newer Wemo devices support HomeKit, but I have an older device that I am trying to get into HomeKit (into the Home app) via Homebridge and this plugin.  But, it is not clear what to do after installing the plugin, and nothing showe

[2020-06-09 21:31] quizatsaderac commented on #181
no, just add these lines ( the 2 lines Wemo)in config.json as in the example:
    {
            "name": "Belkin WeMo",
            "platform": "BelkinWeMo"
        },
        {
            "platform": "ControlChromecast",
            "name": "Chromecast"

wemo accessories are automatically recognized.

[2020-06-09 21:39] LordZork commented on #181
@quizatsaderac, Chromecast?  Is that for someone else, or a response to me.  The Wemo accessories didn't automatically get recognized that I could tell.

[2020-06-09 21:44] quizatsaderac commented on #181
It is a part of my config.json for example.
Do you have this 2 lines in your config.json
{
"name": "Belkin WeMo",
"platform": "BelkinWeMo"
}
I had to add them manually for the plugin to work

[2020-06-10 00:37] #181 closed

[2020-06-10 02:01] LordZork commented on #181
@quizatsaderac Yes, those lines were/are added.  Still nothing.

[2020-06-21 14:10] rhuss2 opened #184 "Support for Holmes Humidifier."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Support for the Wemo Homes Humidifier. I believe it is supported on openHAB.

[2020-06-29 00:19] wallacepost opened #186 "Wemo app updated to cloud version, Wemo maker constantly drop out"
Hi,
Im using Wemo maker for the garage door, since The Wemo app updated to cloud version, Wemo maker constantly drop out, sometimes it appear as connected in Home app but not working, until restart the hoobs hub Or login to the Wemo app, and sometimes it appear no response. But the Wemo plugs works just fine as usual.
Is this something to do with Wemo app?  Or the plugin? Are those Wemo devices st

[2020-06-29 08:15] julien94800 commented on #186
Hello,

I am using Wemo Maker as garage door too and no problem so far. Everything still working fine. For information, I did not create a Wemo account so for sure it sill works locally.
From my side, I am not using HOOBS, but the native homebridge version

[2020-07-09 15:31] wallacepost commented on #186
i just reset the Maker, hope this can resolve the connection issue.
I just add a sensor to the Maker, it works in most case.

But I wonder if you have the sensor issue like mine???

when the door is opened, then i pressed CLOSE button, but the door for some reason it didn't move "for example it got stuck", & the sensor did NOT contact to each other. In this situation, It still shows the door is cl

[2020-07-10 15:13] OfficialKaos opened #187 "Front Gate reported error ECONNREFUSED"
I've just upgraded my router and sometimes my wemo maker shows as no response in homekit
I'm getting this in the log
Front Gate reported error ECONNREFUSED
what does this mean?
thanks for any help

[2020-07-14 23:09] OfficialKaos commented on #187
Changed the radio channel on the AP and all sorted

[2020-07-14 23:09] #187 closed

[2020-07-17 04:07] lilyball opened #189 "Add support for Wemo Mini Smart Plug"
**Is your feature request related to a problem? Please describe.**
The Wemo Mini Smart Plug supports HomeKit natively, but its HomeKit support is really awful. It keeps breaking, where HomeKit can’t talk to it but the Wemo app can. It looks like the reason is its `_hap._tcp.` Bonjour service keeps vanishing.

**Describe the solution you'd like**
Since the Wemo app generally works, and I assume tha

[2020-07-21 03:04] lilyball commented on #189
Apparently the mini plug already works, it just takes several minutes before it shows up for some reason.

[2020-07-21 03:04] #189 closed

[2020-07-29 18:12] wallacepost commented on #186
Is there any way to set the default as showing “OPEN”? So It only changed the states as “Closed “ when the sensors contacted , just in case when the gate stuck half way. Thanks

[2020-08-10 13:35] donavanbecker opened #191 "Beta Version 1.6.0 Testing"
To Test:
[code]
To Revert:
[code]

[2020-08-10 13:36] donavanbecker commented on #191
# Dimmer Night mode: Poll brightness when turning the lights on

This allows night mode to function with homebridge knowing correct night mode brightness value when lights turn on. (Previously if dimmer was set to 80% normal and 20% night mode, at night when turning on dimmers, Home app would report 80% brightness when in fact the dimmer is 20% brightness. This fixes and now correctly shows 20% br

[2020-08-11 13:37] donavanbecker commented on #191
@leeliu can you test the beta to make sure it is working?

[2020-08-14 03:42] leeliu commented on #191
Apologies...just confirmed it's working well on beta. Though it says 1.5.7 (but i noticed the version wasn't bumped, so that makes sense).

[2020-08-14 18:03] donavanbecker commented on #191
Awesome! I will release 1.6.0!

@leeliu Are you interested in taking over this repo?

[2020-08-14 19:23] donavanbecker commented on #191
@leeliu just released 1.6.0!

[2020-08-14 19:23] #191 closed

[2020-08-14 19:29] leeliu commented on #191
@donavanbecker Thanks for the offer! I’m afraid I can’t really commit the time. It is a great project though and I do plan to make future contributions when I can.

[2020-08-17 16:35] humanthrope opened #194 "package.json not updated via npm"
I noticed this error on OS x 10.14 today after updating via homebrew and npm, although it doesn't seem to affect operation.

[code]

But the git repo shows `"node": ">=12.0.0"`. So I'm guessing that the new package.json wasn't published correctly or I haven't done something correctly like clearing a cache somewhere.

[2020-08-17 16:57] donavanbecker commented on #194
that is just a warning message.

[2020-08-17 16:57] #194 closed

[2020-08-26 12:55] zlockhart opened #196 "Ignored Devices UI Config Error"
I'm unable to get ignored devices to work through the homebridge ui config. I keep getting the must match pattern error.
<img width="757" alt="Screen Shot 2020-08-26 at 5 37 05 AM" src="https://user-images.githubusercontent.com/36766381/91305951-b2270600-e760-11ea-86d8-fa30f5b42a7c.png">

[2020-08-26 14:00] donavanbecker commented on #196
closing to have you fill out the issue template.

[2020-08-26 14:00] #196 closed

[2020-08-26 15:15] #186 closed

[2020-09-02 23:08] EfficientSetting commented on #180
Is that the one you are talking about? https://www.amazon.com/gp/product/B00BB2MMNE/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1

I've been wondering the past few days why this plug doesn't come up, can you give some more details why it's not possible?

[2020-09-23 18:04] permaMonk opened #201 "Consumption as a choice in rules?"
Any plans make "Consumption" (over or under) seen and selectable in Homekit rules?

[2020-09-23 20:43] joberembt opened #202 "Not getting notifications on garage doors any longer"
**Describe The Bug:**
I am no longer getting notifications when my garage doors open. We had bad weather go through and it killed one of my Wemo Makers that I was using as a garage door opener. I replaced it, and since then, I have not gotten notifications on the garages opening or closing. I had to use Homebridge's 'Remove Single Cached Accessory' function to get the old maker to be removed from

[2020-09-28 21:20] joerexlo opened #203 "Automation not working"
Everything works for me. except if i do automation its not working and also if i connect plug to a switch its not working. any thoughts?

[2020-09-28 21:38] #203 closed

[2020-10-04 19:18] #201 closed

[2020-10-04 21:18] #202 closed

[2020-10-05 01:19] joberembt commented on #202
Still experiencing this - any ideas?

[2020-10-17 21:47] hanahwill opened #205 "Getting exception from plugin when starting homebridge server."
**What issue do you have? Please be as thorough and explicit as possible.**
I am getting the following exception when I restart the Homebridge server after installing the wemo plugin (from the logs):

[10/17/2020, 16:45:30] Homebridge is running on port 51864.
[10/17/2020, 16:45:31] [Belkin WeMo] Online: 01 Living Room Lamp [6038E0E8AFF8]
[10/17/2020, 16:45:32] [Belkin WeMo] Online: Den [24F5A21FF

[2020-10-18 07:59] bwp91 commented on #205
Hi @hanahwill
Please try updating to v1.6.2. This should at least stop the everlasting restart of Homebridge and in the logs should provide some insight into why this was happening in the first place.

[2020-10-18 13:09] hanahwill commented on #205
Installed v1.6.2 and restarted Homebridge. Here is the log now:

[10/18/2020, 08:07:36] Homebridge is running on port 51864.
[10/18/2020, 08:07:37] [Belkin WeMo] Online: Den [24F5A21FFCB2]
[10/18/2020, 08:07:37] [Belkin WeMo] Online: 01 Living Room Lamp [6038E0E8AFF8]
[10/18/2020, 08:07:38] [Belkin WeMo] Online: 02 Living Room Lamp [302303F04FC2]
[10/18/2020, 08:07:38] [Belkin WeMo] client.getEndD

[2020-10-18 13:34] bwp91 commented on #205
Seems like a problem with one of the dependencies of this plugin.
Could I message you directly on the [Homebridge Discord](https://discord.gg/7X36mdw)?
Thanks

[2020-10-20 15:16] bwp91 opened #206 "⚠️ Version 2.0"
### Why 2.0.0?
* To mark a change in plugin maintainer which is now me (bwp91).
* To make it easy to revert back to v1 branch in case of any problems.

---

### Configuration Changes
* NEW: `debug` setting (default:false) when true will add non-warning/error messages to the HB log.
* NEW: Control over the Wemo Maker type is now through the plugin configuration.
* CHANGE: `discovery` is now `disabl

[2020-10-20 15:19] donavanbecker commented on #206
I did get an error on the latest beta.

[2020-10-20 15:41] donavanbecker commented on #206
@bwp91 2.0.0-4 is working now.

[2020-10-20 16:52] vsidlu commented on #206
Hi!
I got two errors -

[10/20/2020, 19:44:03] [WeMo Platform] [WeMo Link] an error occurred requesting subdevices - TypeError: client.getsubDevices is not a function
--
at wemoPlatform.initialiseDevice (/usr/lib/node_modules/homebridge-platform-wemo/lib/wemo-platform.js:111:18)
at module.exports.<anonymous> (/usr/lib/node_modules/homebridge-platform-wemo/lib/wemo-platform.js:68:14)
at /usr/lib/no

[2020-10-20 17:33] bwp91 commented on #206
@vsidlu these should be fixed in 2.0.0-5
and @donavanbecker
thank you both for your reports!

[2020-10-20 17:51] vsidlu commented on #206
you are wellcome - another one -

[WeMo Link] could not be initialised as TypeError: Cannot read property 'displayName' of undefined
--
at wemoPlatform.initialiseDevice (/usr/lib/node_modules/homebridge-platform-wemo/lib/wemo-platform.js:205:65)
at module.exports.<anonymous> (/usr/lib/node_modules/homebridge-platform-wemo/lib/wemo-platform.js:68:14)
at /usr/lib/node_modules/homebridge-platform-wem

[2020-10-20 17:56] vsidlu commented on #206
you are wellcome :) - another one - wemo link still not working

[WeMo Link] could not be initialised as TypeError: Cannot read property 'displayName' of undefined
--
at wemoPlatform.initialiseDevice (/usr/lib/node_modules/homebridge-platform-wemo/lib/wemo-platform.js:205:65)
at module.exports.<anonymous> (/usr/lib/node_modules/homebridge-platform-wemo/lib/wemo-platform.js:68:14)
at /usr/lib/node_

[2020-10-20 18:00] bwp91 commented on #206
@vsidlu should be fixed now v2.0.0-6

[2020-10-20 18:07] vsidlu commented on #206
[10/20/2020, 21:06:01] TypeError: Cannot read property 'setDeviceStatus' of undefined
--
at deviceLink.setSwitchState (/usr/lib/node_modules/homebridge-platform-wemo/lib/device/link.js:151:17)
at Characteristic.<anonymous> (/usr/lib/node_modules/homebridge-platform-wemo/lib/device/link.js:24:44)
at Characteristic.emit (events.js:310:20)
at Characteristic.EventEmitter.emit (/usr/lib/node_modules/ho

[2020-10-20 18:19] bwp91 commented on #206
@vsidlu 2.0.0-7!

[2020-10-20 18:41] vsidlu commented on #206
Thanks! Now it is working! I got also warm and cold color option for bulbs. Did not see it in previous versions.
Now plese help with json for wemo maker type garage door.

[2020-10-20 18:54] bwp91 commented on #206
Can’t take credit for that, I haven’t *added* any new features to this plugin!

@vsidlu are you on the Homebridge discord channel?

[2020-10-20 19:01] vsidlu commented on #206
@bwp91 yes I am!

[2020-10-23 10:58] fpy-homeb opened #207 "Unable to find devices"
**What issue do you have? Please be as thorough and explicit as possible.**

Ran update to pi for all latest packages, updated Wemo plug in for homebridge, now no devices found

**Details of your setup.**
Do you use Homebridge or HOOBS?

Homebridge

Which version of Homebridge/HOOBS do you have?

1.1.6

Which version of this plugin (homebridge-platform-wemo) do you have?

1.6.2

**Please paste any

[2020-10-23 11:30] bwp91 commented on #207
Hi,
Sometimes the devices can take a couple of minutes to discover, also depending on if you have set a custom discovery interval.
Could you paste the wemo platform part of your homebridge config here?

[2020-10-23 15:05] fpy-homeb commented on #207
"name": "BelkinWeMo",
"platform": "Belkinwemo"

[2020-10-23 16:33] bwp91 commented on #207
Please try changing the second line to:
`"platform": "BelkinWeMo"`

[2020-10-23 16:37] fpy-homeb commented on #207
Done, no change

[2020-10-23 16:44] bwp91 commented on #207
Could you try running this?
https://github.com/rudders/wemo-discover
To see if this can detect your devices?

[2020-10-23 17:02] fpy-homeb commented on #207
sudo npm install https://github.com/rudders/wemo-discover.git
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN saveError ENOENT: no such file or directory, open '/home/pi/package.json'
npm notice created a lockfile as package-lock.json. You should

[2020-10-23 19:28] fpy-homeb commented on #207
hey, thank you for your help, there was an update to my wemo link and it needed to be restarted (4 times) now its picking everything up.

[2020-10-23 19:28] #207 closed

[2020-10-23 19:34] bwp91 commented on #207
Ah excellent glad the solution was found 👍

[2020-10-25 06:29] bwp91 commented on #205
Hi @hanahwill I've just released an update to this plugin, do you still getting the above error on the new version?

[2020-10-25 14:36] julien94800 commented on #206
Hello,
Just updated to new version. I am using this plugin with two maker set as garage door and it seems to work as expected after manually modifying the config as described.
Thanks for your work!!
What would be useful if possible is to be able to set makers as garage door with the gui! Currently, it seems to be only feasible manually

Once again, thanks!!

[2020-10-25 14:43] Nastras commented on #206
I have also just done the update. In my case the garage door is only shown as a switch with contact sensor in HomeKit. Before with the old version it was shown as a garage door. I have adapted the Config.

Any idea why?

"platforms": [
{
"platform": "BelkinWeMo",
"name": "WeMo Platform",
"doorOpenTimer": 20,
"manualDevices": [],
"disableDiscovery": false,
"discoveryInterval": 30,
"makerTypes": [{"

[2020-10-25 14:50] Nastras commented on #206
It looks like the plugin does not consider this option:
{"serialNumber": "XXXXXXX", "makerType": "**garageDoor**"}

@julien94800 is it displayed as a garage door?

[2020-10-25 14:56] permaMonk commented on #206
Last update I get this:
[10/25/2020, 15:42:40] [Belkin WeMo] Plugin has finished initialising. Finding devices to add to Homebridge.
[10/25/2020, 15:42:40] [Belkin WeMo] An error occured loading a device - Error: connect ENETUNREACH 192.168.178.36:49153 - Local (0.0.0.0:0)
    at internalConnect (net.js:924:16)
    at defaultTriggerAsyncIdScope (internal/async_hooks.js:364:12)
    at net.js:1012:9

[2020-10-25 15:05] Nastras commented on #206
Error found. I have here: "serialNumber": "XXXXXX", the Mac address that is displayed in the Journalctl because I assume that this is the serial number.

I have now entered the serial number on the device and now he recognizes it as a garage door.

@bwp91 It would be great if you can display the serial number in addition to the Mac address of the found devices when you start the Homebridge.

Thank

[2020-10-25 15:21] julien94800 commented on #206
Hello @Nastras
Sorry did not had time to answer. Yes everything is working great and shown as garage door. Seems to be the case for you too now so perfect

[2020-10-25 15:45] bwp91 commented on #206
Hi @julien94800

This is definitely an option, I was just trying to not "clutter" the plugin settings screen with options that are potentially used just once. But I can look into this. Glad the garage is working for you.

Hi @Nastras

This is definitely something I can do. Glad the garage is working for you now!

Hi @permaMonk

Haven't seen this before. Does it occur again if you restart Homebridg

[2020-10-25 18:55] dxdc opened #208 "Consumption-based outlet wrongly marked as "off" when consumption is too low"
**What issue do you have? Please be as thorough and explicit as possible.**

I have some triggers set for a consumption-based outlet. During one of the recent updates (maybe in the last 2 months? Just upgraded to 2.0) it seems the logic was changed so that if the consumption drops below a specific amount, the outlet has the property `On: false`.

This behavior is confusing and leads to the outlet

[2020-10-25 19:15] bwp91 commented on #208
Hi thanks for the detailed issue. Will look into this asap. From your logs it seems that something is totally in reverse. I'll get back to you

[2020-10-25 19:22] bwp91 commented on #208
Could you post more logs, ie, any wemo entries immediately before and after what you have already posted?
The 2nd line of what you posted is four seconds after the update of 6W, which makes me think that the plugin received another update that the outlet was externally turned off. Could this be the case? This is why I ask for the extra logs

[2020-10-25 19:23] dxdc commented on #208
[code]

[2020-10-26 06:49] bwp91 commented on #208
Would you be happy to try a beta version to see if this fixes this for you?
`sudo npm i -g homebridge-platform-wemo@beta`

[2020-10-26 07:06] dxdc commented on #208
Thx @bwp91

I see tons of these messages now, ~1/second:

[code]

[2020-10-26 07:07] bwp91 commented on #208
I'll look into a way of hiding them but my focus was to get the OutletInUse yes/no working correctly

[2020-10-26 07:08] dxdc commented on #208
Will monitor and report.

[2020-10-26 07:23] dxdc commented on #208
One thing I noticed so far:

[code]

Seems that on start up, `state` is no longer updated but outlet in use is?

[2020-10-26 07:58] bwp91 commented on #208
Just released another beta, please `sudo npm i -g homebridge-platform-wemo@beta` to update to v2.1.0-1

[2020-10-26 13:09] dxdc commented on #208
@bwp91 I will try it. From the prior version this morning, found (note, consumption logs have been stripped for clarity):

[code]

Here is more more detail with the consumption logs.

[code]

Trying again now with the new version and will let you know. So far, there is no initialization of state or outlet in use on startup. Logs are still full of the "updating consumption" message.

[code]

[2020-10-26 13:36] dxdc commented on #208
Also, in case it's helpful, these logs are from a device which is ON but has no usage... and just runs cycles every 10 minutes or so (during waking hours) which bumps the consumption way up for a short period then back down to 0-5W.

I never had this issue on the prior version... but not 100% sure which one that was. Sometime in the last 1-2 months this change was made.

[2020-10-26 13:54] bwp91 commented on #208
v2.1.0-3 should fix the repetitive logs for the same wattage.

The messages only appear in the logs if there has been a change. If the outlet's `state` is on, and shows in Homebridge as on, and then restart Homebridge, no message should appear until the `state` of the outlet is turned off.

[2020-10-26 14:51] dxdc commented on #208
Updated to 2.1.0-3. Logs are much reduced, but still causing the outlet to flip state. I think this should be outlet in use, not state?

[code]

[2020-10-26 15:02] bwp91 commented on #208
This is puzzling me as the only way the `state` is updated as off is if it receives an update from the device that it is off.
I have released another version, v2.1.0-4, which will add the data received from the device to the logs - in yellow text for clarity.

Could you update again and paste some more logs especially around a time that the `state` seems to turn off?

Appreciate your patience with

[2020-10-26 15:04] dxdc commented on #208
Likewise!

Sure will test. Is it possible it has something to do with a Wemo setting? I think I may have configured a "minimum" threshold within the Wemo app itself of 5 W or so. This way, I can monitor continuous runtime for each cycle. Do you think that has something to do with it?

[2020-10-26 15:06] bwp91 commented on #208
Oh this will be the reason. You can see the switch `state` is turned off each time the reading is 5W and then turned on again when it goes above this

[2020-10-26 15:07] dxdc commented on #208
But, it didn't happen in prior versions? I've had this setting for years.

[2020-10-26 15:07] dxdc commented on #208
It should be the 'outlet in use' setting, not the state setting

[2020-10-26 15:15] bwp91 commented on #208
I'd be intrigued to see if this happened if you rolled back to a previous version. I've had a look back to even v1.5.0 and the code, albeit different, would turn the switch state off if it received this update from the device.

Could it be that you have updated firmware on the device and now it's behaving differently?

[2020-10-26 15:19] dxdc commented on #208
I checked my backups. Prior version was 1.6.1. Maybe that's helpful?

Logs from that look correct. Note there is no change in `state` only a change of `outlet in use`. There was a firmware update a few months ago, but only ran into problems with this after the upgrade.

[code]

[2020-10-26 15:21] dxdc commented on #208
Total On Time, Total Consumption messages also appear to be gone?

[2020-10-26 15:33] permaMonk commented on #206
Hi bwp91.

Yes I´ve done several restarts yesterady. But this day I´ve tried another restart and the HB and logfile looks really fine. And the Wemo Plug works also again. I´m sorry for trouble I made. Maybe it is due to an interference with another plugin (logic) I recently installed. Because there were some problems with it, I removed its config entry. Maybe? Thanks again for all your commitment.

[2020-10-26 15:41] bwp91 commented on #208
could you try v2.1.0-4 and paste some logs here of around the time the outlet drops to 5W to see what the data looks like from the device?

It's there if you turn debug setting on. I'll revert it back to always shown in a next release.

[2020-10-26 15:42] dxdc commented on #208
Here's the result from 2.1.0-4. Same thing. It's changing state instead of `outlet in use`.

[code]

[2020-10-26 15:45] bwp91 commented on #208
v2.1.0-4 should be logging more, in particular the data received from the device in the format:
`[Heater] received insight data: state [%s] power [%sW]. Updating...`

[2020-10-26 15:47] dxdc commented on #208
@bwp91 didn't see it, it was in the error log. Here you go:

[code]

[2020-10-26 15:50] wilbsww opened #209 "Wemo Holmes Heater Support?"
Is there any possibility of adding compatibility for the Wemo Holmes Heater? I’ve been attempting for years to add this device to my array but never been able to do so, even though the wemo documents claim support for such device

[2020-10-26 16:08] bwp91 commented on #208
Please try v2.1.0-5 :)

[2020-10-26 16:09] bwp91 commented on #206
@permaMonk glad you got it working. Never heard of an incompatibility between plugins!

Gonna close this now. Any further issues please create a new one or contact me on hb discord!

[2020-10-26 16:09] #206 closed

[2020-10-26 16:56] bwp91 commented on #209
Hi @wilbsww,
Can certainly give it a try!

The wemo-client dependency that this plugin uses claims support for this device. But this plugin so far doesn't support this device as per the plugin wiki.

It would be a lot easier if I could message you on the (Homebridge Discord)[https://discord.gg/7X36mdw] as as I don't own this device I will need a lot of your time to possibly add support for this de

[2020-10-26 17:19] dxdc commented on #208
Looking better! 👍

Only thing I can say now is that:

- No sign of outlet in use anymore? Hard to say exactly but I don't see it in the logs.
- Total on-time/consumption seem to no longer consider minimum threshold of outlet in use? I'm not sure this ever worked as it was supposed to btw, but would be interesting/useful to have this reset once below threshold set by the outlet in use feature (if i

[2020-10-26 17:19] hanahwill commented on #205
I installed the latest version - 2.0.0. Getting this in the logs now:

[10/26/2020, 12:10:22] [Belkin WeMo] An error occured loading a device - Error: HTTP 400: <html><body><h1>400 Bad Request</h1></body></html>
    at IncomingMessage.<anonymous> (/usr/local/lib/node_modules/homebridge-platform-wemo/lib/wemo-client.js:68:12)
    at IncomingMessage.emit (events.js:326:22)
    at endReadableNT (_str

[2020-10-26 17:26] bwp91 commented on #205
Other people have their links working well with this plugin (and this version). Would be nice to get this sorted for you. Is your link on the latest firmware? Also, which devices do you have linked to it?

[2020-10-26 17:44] bwp91 commented on #208
I have wondered whether i should go for the approach of using the state from your logs you posted above, if you noticed, a state of “1” seems to be wattage above your threshold, and a state of “8” seems to be close to the threshold. do you know exactly what you’ve set your threshold to?

[2020-10-26 17:45] dxdc commented on #208
I set the On/Standby Threshold to 6W

[2020-10-26 17:47] wilbsww commented on #209
Thats what I meant but worded poorly (that the dependency supports it)!

I have the lowest of barebones ability to code things....basically meaning i can follow directions well but lack originality! I tried years back to get the wemo heater dependency to work and never could...prob cause of my black-tech thumb

[2020-10-26 17:51] bwp91 commented on #208
Just about to release another beta to hopefully solve this

I haven't changed any code for this yet, so this *really will* be working as it did in v1.6. I can take your suggestion into consideration, probably with a configuration option so it doesn't mess up any other users' needs if they use this feature.

[2020-10-26 17:54] bwp91 commented on #208
Please try 2.1.0-6 :)

[2020-10-26 17:56] bwp91 commented on #209
Could we message on the link I sent you (if you're not already on there)? My username is bwp91 or let me know yours if you can't find me

[2020-10-26 18:53] benfysh opened #210 "error - TypeError: value.split is not a function – when adjusting brightness with Wemo link"
When adjusting the brightness for my bulbs via the Wemo link I get the following error in the logs the bulb adjust as expected and on and off work fine without any log entries.
...
**Details of your setup.**
Homebridge v1.2.3 on a raspberry pi 4
...
Which version of this plugin (homebridge-platform-wemo) do you have?
homebridge-platform-wemo v2.0.0
...
[code]
...

[2020-10-26 18:59] bwp91 commented on #210
Hi, thanks for this.
Please could you run this in the homebridge terminal:
`sudo npm i -g homebridge-platform-wemo@beta`
To see if this fixes it?

[2020-10-26 20:11] dxdc commented on #208
Looking good! Thanks for your work on this! I guess the "total on-time" / consumption is reset each day?

And, the 6W is pulled directly from the Wemo app? But, I think it's looking correct.

[code]

[2020-10-26 20:48] bwp91 commented on #208
Yes, i believe the total consumptions are from the data from the device. and the 6w threshold in your case. nothing is calculated/stored on the plugin side.
i am potentially looking at integrating with eve app for historical data. but that’s a later date. and a maybe!

[2020-10-27 00:25] dxdc commented on #208
Thanks for the troubleshooting!

[2020-10-27 00:25] #208 closed

[2020-10-27 05:11] bwp91 commented on #210
This should be fixed in v2.1.0!

[2020-10-27 08:49] benfysh commented on #210
Confirmed, thanks for the quick turnaround :)

[2020-10-27 08:49] #210 closed

[2020-10-27 23:27] WayneKP opened #211 "Wemo Update changed Wemo Makers function"
Hello, yesterday my Wemo makers which I use for Garage door openers had 2 nice accessories showing Garage doors opening and closing on my Homebridge UI and on my Apple Home App but since the Wemo update to the Homebridge plugin I now have 4 accessories, 2 switches Powered "off/on" and 2 sensors which I was able to set as Garage Door Openers but they now have 2 separate functions. Can I change it b

[2020-10-27 23:48] WayneKP commented on #211
king

[2020-10-27 23:48] #211 closed

[2020-10-28 02:42] WayneKP opened #212 "Wemo Update, now accessories not working home app"
I use Wemo makers for 2 Garage Door Openers and since I did the last Homebridge Wemo plugin update I cannot get the doors to open with a "tap" on the Apple Home app, it only opens the "slider" and I have to slide to open or if I drill down on the settings for the garage door to the 2 accessories for the door which shows the "sensor" and the "Door" and if I "tap" on the door icon it will open the d

[2020-10-28 02:47] WayneKP commented on #212
![Uploading Wemo Config.png…]()

[2020-10-28 02:48] WayneKP commented on #212
![Wemo Config](https://user-images.githubusercontent.com/37004336/97384633-d0a1ad00-191b-11eb-9436-7cbf1d444e83.png)

[2020-10-28 07:48] vsidlu commented on #212
i had the same problem. do not know what causes it. my workaround was - set sensor to NO in wemo app.  then readd maker and then change sensor to YES in wemo app.

[2020-10-28 08:37] WayneKP commented on #212
Great, Thanks, that works
I can’t remember ever seeing 2 accessories on one icon like that on previous homebridge Wemo update so I figured the sensor was an issue but didn’t know how to get it off the Apple home app but happy now it’s back the way it was

Kind Regards
Wayne Pulbrook

Mobile 0417439539
wayne_pulbrook@yahoo.com

[2020-10-28 08:47] vsidlu commented on #212
i use this plugin for very long time and this was something i see first time. i even rolled down to version 1.6 and nothing changed. i was lucky with switching sensor to NO.

[2020-10-28 10:09] wallacepost commented on #212
Hi, similar issue after updated last night. the garage door become a button, how to change back how it was ?

![568FC4D8-CDD6-462F-8ED6-D707FC91C30B](https://user-images.githubusercontent.com/65918663/97422208-9f4bd000-1961-11eb-875b-0f414491f2f4.png)
![63620A93-3CF2-4E1C-89C3-E53F99822F5D](https://user-images.githubusercontent.com/65918663/97422227-a5da4780-1961-11eb-8709-1ad47211b4ad.png)
![AEB4

[2020-10-28 10:37] bwp91 commented on #212
Hi @WayneKP, I'm glad you got this fixed. Thanks for your input @vsidlu. There was indeed an issue where the contact sensor would not be removed if changing the maker's type to `garageDoor`. This has been fixed in v2.1.1.

@wallacepost, please update to v2.1.1. You will be able to use the plugin settings screen to change your Maker from a switch to a garage door. You'll need it's serial number and

[2020-10-28 15:38] wallacepost commented on #212
Hi bwp91,
Thanks for getting back to me,
I just updated the v2.1.1, the hoobs is not restarting the service. I rebooted it couple times, no luck.
I’m rolling back to the older version 1.6.2

[2020-10-28 16:12] bwp91 commented on #212
Were there any error messages in the hoobs logs?

[2020-10-28 22:54] WayneKP commented on #212
Thanks for all the help, The homebridge UI and all the people who have created plugins, especially Wemo have done a great job and your efforts are appreciated thanks and this issue can now be closed

[2020-10-29 06:01] #212 closed

[2020-10-31 15:05] jammmyb commented on #211
Just updated homebridge and plug-ins and experienced the same thing.

What do I need to do to restore it back to how it was? One button with. Garage door open/closed?

[2020-10-31 15:14] bwp91 commented on #211
Hi @jammmyb
You can change the maker type through the plugin settings in the "Wemo Makers" section. Just need the serial number and select the type you wish it to be

[2020-10-31 15:27] jammmyb commented on #211
@bwp91

Saw the other thread about it. I’d put 8 instead of S in the serial number and that was why I could access it but it wouldn’t change to a garage opener switch.

Thanks for the advice. 👍

[2020-11-01 23:55] fentonmatt opened #213 "Shutdown after plug set to turn on automatically"
**What issue do you have? Please be as thorough and explicit as possible.**
I have WeMo plug set to turn on hour before sunrise everyday through HK automation and always has worked well. Today when automation tried to turn it on, this happened after it turned on successfully.
...

**Details of your setup.**
Do you use Homebridge or HOOBS?
HOOBS
...

Which version of Homebridge/HOOBS do you have?
H

[2020-11-02 09:57] bwp91 commented on #213
Hi @fentonmatt
This issue has me scratching my head!
* Did *anything* change yesterday, e.g., firmware/hoobs/plugin updates?
* Do you get this error when using Home app/HOOBS to switch on/off the device?
* If you were to set up a test automation to turn it on eg in 10 minutes time (from reading this), do you receive the same error?

Thanks

[2020-11-02 19:17] fentonmatt commented on #213
Hey @bwp91 thanks for the reply. As far as my HOOBS system goes, I did absolutely nothing yesterday to it that I know of to cause this. No updates, adjustments or anything done to HOOBS or HK. I cannot even get this problem to recreate itself in the same setting as it was the day it happened. All I see is that for some reason the signal to turn the device on from my automation showed twice in my l

[2020-11-02 19:19] fentonmatt commented on #213
@bwp91 Error does not happen when manually turning on/off device and it does not happen again when setting a new automation either. All is working perfect today but nothing has changed from that day either.

[2020-11-03 22:19] sanist1 commented on #213
Same issue here. Once a day, as a result of automation get the same crash. Turning on wemo device manually has no side effect.
Occurs since upgrading to Platform Wemo 2.1.2

11/3/2020, 5:11:38 PM [BelkinWeMo] [Wemo] setting state and outlet-in-use to [on].
11/3/2020, 5:11:38 PM [BelkinWeMo] [Wemo] setting state and outlet-in-use to [on].
11/3/2020, 5:11:38 PM Error: This callback function has alre

[2020-11-03 23:22] bwp91 commented on #213
Do either of you own any other Wemo devices apart from the outlet?

[2020-11-03 23:37] fentonmatt commented on #213
@bwp91 I only own this one WeMo outlet and my problem so far since the initial issue has not happened again. So far so good in my end since then. Still nothing has changed before or since but is working.

[2020-11-04 11:52] sanist1 commented on #213
This is my only Wemo device. I've set up a crontab to restart the homebridge service to counteract the crash for the moment. Will keep an eye on the logfile to see if it is still crashing, though.

[2020-11-06 14:27] #205 closed

[2020-11-08 09:23] fentonmatt commented on #213
Randomly happened again tonight this time at the time I have set to turn it off instead of on. Seems to be completely random.

11/8/2020, 12:59:59 AM [Belkin WeMo] [Home Spare Outlet] setting state and outlet-in-use to [off].
11/8/2020, 12:59:59 AM [Belkin WeMo] [Home Spare Outlet] setting state and outlet-in-use to [off].
11/8/2020, 12:59:59 AM Error: This callback function has already been calle

[2020-11-08 09:27] bwp91 commented on #213
I have a beta version of the plugin available to test. It might not fix the "double update" but it should catch the error and stop Homebridge from restarting each time.

Problem is I don't know the best way for someone to update to a beta version on HOOBS.

[2020-11-08 09:33] fentonmatt commented on #213
Yeah I just saw you have a beta version available. Is that not able to be installed via terminal somehow? If not it isn't a major issue. Just a minor nuisance. I can wait for official release and keep you posted. Am down to test if needed/possible on HOOBS as well.

[2020-11-08 17:54] bwp91 commented on #213
I've updated my "beta version" wiki page with instructions for HOOBS users, if you want to have a try with the beta:

https://github.com/bwp91/homebridge-platform-wemo/wiki/Beta-Version

[2020-11-08 18:50] sanist1 commented on #213
Hi thanks for the updates. I just installed the Beta version on HOOBS and disabled the messy cron job. I'll let you know if it solves the crash as soon as the automation runs.

[2020-11-09 16:00] danielsza commented on #209
I too would be willing to help getting the heater supported. I have the larger one that lists as HeaterA.

Also I noticed the other day that both my wemo heater and crockpot now are added to my home, but both say not supported
![EAA9904A-4530-4112-9C74-4C13E7E7D857](https://user-images.githubusercontent.com/6549750/98564777-ca47f500-227a-11eb-89f8-204ebd9808ae.jpeg)

[2020-11-09 16:05] bwp91 commented on #209
Hi @danielsza
Adding support for a new device will need a lot of back and forth messaging, ideally via the [Homebridge Discord](https://discord.gg/7X36mdw) if you're happy to on there :)

[2020-11-09 16:08] sanist1 commented on #213
hi there. Update on my last: all worked flawlessly since the beta installation. thanks

[2020-11-09 16:15] bwp91 commented on #213
Oh good news. Anything interesting in the logs at the time of the automation?

[2020-11-09 17:47] danielsza commented on #209
I’ve just joined... let me know how I can help.

Sent from my iPhone

[2020-11-09 21:44] sanist1 commented on #213
... as boring as could be: [BelkinWeMo] [Wemo] setting state and outlet-in-use to [on].

[2020-11-10 10:17] bwp91 commented on #213
boring is normally good when it comes to things like this!

Just released v2.2.0 so the update should show in HOOBS within the next few hours or days or whatever. And hopefully no more errors for you both (or anyone else).

@fentonmatt and @sanist1 thanks for your patience on this and bringing it to my attention!

[2020-11-10 22:27] fredthedorfman commented on #213
I updated to this new 2.2.0 version, doesn't crash homebridge but still get the errors and have to restart homebridge again anyway since the outlet switches become unresponsive. Going back to ver 1.6.2

[2020-11-11 08:14] bwp91 commented on #213
Hi @fredthedorfman
Which errors did you receive in 2.2.0?
The plugin will routinely attempt to reconnect to any device that emits an error/becomes unresponsive.
The logs are a great way to see exactly what’s going on.
It would be nice for me to try sorting this out, but if 1.6.2 works better for you then of course using that version is a no-brainer :)

[2020-11-11 18:19] loudgazelle opened #214 "version 2.2.0 filling logs with unnecessary messages"
I upgraded to v 2.2.0 this morning and the logs immediately began filling with messages saying `[bulb name] not found yet so cannot be controlled. Will retry connection.` - this happened for each of my bulbs and would repeat every few minutes. This informational messages repeatedly being written clutters the logs and drowns out any other issues that might need to be addressed, so I almost immediat

[2020-11-11 19:25] fredthedorfman commented on #213
@bwp91
Here's what I got on my homebridge logs on 2.2.0, first block of the log is the homekit automation trying to turn the outlet switch on

11/10/2020, 4:56:32 PM] [Belkin WeMo] [Wemo Mini] setting state and outlet-in-use to [on] error:
This callback function has already been called by someone else; it can only be called one time.
[11/10/2020, 4:56:32 PM] [Belkin WeMo] [Wemo Mini] Reverting Hom

[2020-11-11 20:42] bwp91 commented on #213
@fredthedorfman out of interest which version of iOS/tvOS is your home hub device running?

[2020-11-11 21:34] fredthedorfman commented on #213
@bwp91 14.2 for both

[2020-11-11 21:40] bwp91 commented on #214
Hi @loudgazelle thanks for bringing this to my attention.

These `[device x] not found yet so cannot be controlled` are meant to be informational but in most cases should be limited to a short period after Homebridge starts. Once HB has matched every accessory in the cache with a discovered device, there should be no more repeated messages. The log messages start 30 seconds after HB has finished l

[2020-11-11 21:47] loudgazelle commented on #214
Sure, I'm willing to test a beta version.

This is something I'd been struggling with for a while. I had added the serial numbers for both netcams to the `ignoredDevices` section of the config but they were still showing up. Today I manually removed them from the `cachedAccessories` file but when HomeBridge restarted it would add them back. Finally I was able to remove them by shutting down homebr

[2020-11-11 21:58] bwp91 commented on #214
Great, I've just published v2.3.0-2. The method of updating differs depending on how/which platform you're running Homebridge on, but maybe you'd know how to do this already? Let me know if you need any help.

I've added a fix for the wemo link, so the relentless logging should no longer happen once the link has been discovered!

[2020-11-11 22:36] bwp91 commented on #213
A couple of other things I can suggest:

* removing the troublesome device from the homebridge cache so it is readded upon restart
* deleting the automation via the home app and re-creating it

[2020-11-12 00:01] loudgazelle commented on #214
v2.3.0-2 seems to have resolved the issue I originally reported in this thread - thanks for the quick turnaround!

Unfortunately, it introduced another issue - at least, I've never seen this issue prior to this version.

As you can see in the logs below the logs are now filling up with wemo insight updates about the on-time and total consumption.

[code]

prior to installing v2.3.0-2 this data wou

[2020-11-12 04:03] fredthedorfman commented on #213
@bwp91
Alright I removed all 4 the cached accessories I have, deleted the automations and deleted the plugin completely.  I’m installing the 2.2.0 plugin back and configuring the automations again.  Automations will run tonight and tomorrow.

[2020-11-12 06:28] bwp91 commented on #213
@fredthedorfman
I have *finally* be able to recreate the issue. So don't be disheartened if it still doesn't work.
Working on a fix!

[2020-11-12 09:12] bwp91 commented on #214
New beta, I hope v2.3.0-3 will fix the consumption repeated messages!

[2020-11-12 12:33] bwp91 commented on #213
Okay, should be fixed in beta v2.3.0-4 if anyone is happy to try it out?

[2020-11-12 19:29] fredthedorfman commented on #213
Got the latest beta installed, will test and let you know.

[2020-11-13 01:00] loudgazelle commented on #214
the only beta version that homebridge ui x showed was 2.3.0-5 so I tried that version but the consumption messages were still coming in every second or two, so I've reverted again to 2.1.2.

[2020-11-13 07:52] bwp91 commented on #214
v2.3.0-6 should definitely now stop the messages. I appreciate your patience and feedback on this 👍

[2020-11-13 16:01] sanist1 commented on #213
Hi everything checks out ok for me on 2.3.0-5. no issues with automation

[2020-11-13 17:41] fredthedorfman commented on #213
Went back to 1.6.2.  Still getting homebridge restart issues.  It could be an incompatibility with another plugin or something else but I'm just going to stick with what works.  Thanks for trying to help.

[2020-11-13 20:41] bwp91 commented on #213
@fredthedorfman first of all thanks for your patience with the betas and bearing with me.
i’m not totally happy that you’re still having the errors, as it’s highly unlikely it’s an incompatibility with another plugin. most likely something i have overlooked with the changes i made to v2.0.
Rest assured i will continue to look into this.

[2020-11-13 20:43] bwp91 commented on #213
Just to discount any other possibilities it would be interesting to hear if the errors are indeed resolved with you rolling back to v1.6

[2020-11-15 08:53] bwp91 commented on #209
Experimental support for the Heaters added in v2.3.0.
Any feedback would be super.
Thanks!

[2020-11-15 17:02] fredthedorfman commented on #213
@bwp91 Good news, seems like everything is working for me.  I had more time to troubleshoot this over the weekend.  I ended up doing a  wipe / clean install of homebridge and node.js.  Only thing I saved was the config.json.  Was running 2.30.7 most of the day yesterday until this morning when I updated to your latest release of 2.30.  So far so good.  Automations running without problem and the s

[2020-11-15 18:44] bwp91 commented on #213
@fredthedorfman this really is good news :)
Keep an eye on it over the next few days and let me know if any further problems!

[2020-11-16 05:51] eddiem5 opened #215 "Node Version - is this an issue?"
I recently implemented this plugin and love it...

I see this warning message on boot up -

The plugin "homebridge-platform-wemo" requires Node version of >=14.5.0 which does not satisfy the current Node version of v12.19.0. You may need to upgrade your installation of Node.

I suspect this can be ignored but I was curious...

[2020-11-16 07:35] vowe opened #216 "Device Names wrong"
Just a quick question that I cannot figure out:

I have moved around a few switches and renamed them accordingly. If I look at the homebridge log, they still have their old names. Anything I can do about that to make the plugin refresh the names? I have no other setting besides:

    {
            "platform": "BelkinWeMo",
            "name": "Belkin Platform"
        },

[2020-11-16 07:58] bwp91 commented on #216
Hi @vowe
When an accessory is initially added to Homebridge, it takes its name from how it is set in the Wemo app. If you then change the name in the Home app, this doesn't actually change the accessory name, it is conceptually a label you are changing. Behind the scenes, the accessory name is still the same, and this is why it appears as such in the logs.
The way forward would be for each device:

[2020-11-16 08:04] bwp91 commented on #215
Hi @eddiem5

You're right, it can be ignored per se. The plugin will function correctly on node v12.19.0. However, node v14 is now the current recommended version and could be a good idea to think about [updating](https://github.com/bwp91/homebridge-platform-wemo/wiki/How-to-update-node).

[2020-11-16 08:13] vowe commented on #216
Thank you. I did change the name in the Wemo app so I was just confused in the homebridge log.

What I did was remove the plugin, restart homebridge which removed the devices from the cache and then reinstalled the plugin. Of course that meant I had to reconfigure them in Homekit. It was only 6 devices so I could manage.

What I was looking for is a way to have the plugin refresh the names from th

[2020-11-16 13:55] benfysh commented on #214
Hi, I am using v2.3.1-7 and I am still seeing excessive logging. The lights listed is the below extract are working as expected. Thanks

[code]

[2020-11-16 14:09] bwp91 commented on #214
Hi @benfysh could you try v2.3.1-7 beta to see if this is fixed? thanks

[2020-11-16 14:24] bwp91 commented on #216
I assume this worked? Everything in sync now? 👍

[2020-11-16 17:33] loudgazelle commented on #214
I'm trying to move to v2.3.1-8 and Homebridge-ui-x is warning me that the recommended node.js version has changed:

I'm running 12.19.0 and leery of updating to 14.5.0 because of my past experience updating to new major versions of node and the amount of rework I have had to go through getting homebridge working correctly again. Maybe my approach to those upgrades isn't right, though.

is node 14.

[2020-11-16 17:58] benfysh commented on #214
hi @bwp91 that seems to have done the trick, Thanks.

@loudgazelle it seems to be working fine on node 12.19 for me.

[2020-11-16 18:40] vowe commented on #216
Yes, of course. Clean slate. I should have said that. Thank you.

[2020-11-16 19:27] loudgazelle commented on #214
thanks @benfysh

v 2.3.1-8 has resolved the excessive messaging about power consumption from the Wemo Insight - thanks, I really appreciate your focus on this and my previous issue!

[2020-11-16 19:48] bwp91 commented on #216
Excellent! I'll get this issue closed.

[2020-11-16 19:48] #216 closed

[2020-11-16 20:07] bwp91 commented on #214
Glad all is well with issues with the logs.

@loudgazelle this plugin will still work fine with node v12. The warning you see is just a warning, not an error. I've chosen to put this message there to make people aware there there is a newer version of node.js who otherwise wouldn't realise.

[2020-11-16 20:17] bwp91 commented on #214
Wemo Link and Wemo Insight consumption repeated logging fixes have been released in v2.3.1 :)

[2020-11-17 03:46] eddiem5 commented on #215
Thank you.  Great plugin.

[2020-11-17 03:46] #215 closed

[2020-11-19 02:09] idcrook commented on #214
@bwp91 If a device serial is listed in `ignoredDevices`, it is still producing `[] not found yet so cannot be controlled. Will retry connection.` messages.  I would expect that putting a device in `ignoredDevices` list, that it would be rejected from cached accessories, etc.

Should I file another issue for this?

[2020-11-19 04:34] bwp91 commented on #184
Would be happy to look into supporting the humidifier. let me know!

[2020-11-19 05:45] bwp91 commented on #214
Hi @idcrook no need to file another issue.

In this case, the log messages were appearing as you already had the device in the Homebridge cache. The discovery of this device was being ignored, but the plugin was still waiting to match the device in the cache with the device on the network which it would never find (as ignored), leading to this endless loop.

Would you be willing to try a beta, I'v

[2020-11-19 15:51] idcrook commented on #214
Thanks.  will try to take a look later today

[2020-11-19 16:21] idcrook commented on #214
Ok, I had a chance to try out.  I use nvm on macOS

[code]

devices in cached list **are still** periodically getting the message `11/19/2020, 9:10:03 AM] [WeMo Platform] [<<NAME>>] not found yet so cannot be controlled. Will retry connection.` even though their serial number is listed in `ignoredDevices` list

Devices in the `ignoredDevices` list  are *not* appearing in messages the initial searc

[2020-11-19 16:37] bwp91 commented on #214
@idcrook which wemo devices do you own, any in particular that still seem to be causing these `cannot be controlled`messages?

[2020-11-19 16:47] idcrook commented on #214
This is happening for Insight Switch, Switch, and Motion devices that have been included in ignoredDevices list. It should be reproducible by simply unplugging the device (and having serial number in `ignoredDevices` list).
I used the cached devices JSON file itself to determine their serial numbers.

[2020-11-19 17:45] bwp91 commented on #214
I'm afraid I cannot recreate this, I have added my own wemo switch's serial number to my ignoredDevices list, restarted HB and it was removed from HB with no further log messages.
Could you post your wemo config here?

[2020-11-19 18:35] idcrook commented on #214
It's a pretty vanilla config for WeMo, but for the `ignoredDevices`

[code]

I unplug some devices for long periods, especially at different times of the year, which is why I wish for them to be ignored (when thus configured). I would be happy to create a new issue for this.

To reproduce:
 - homebridge reporting device not found (because device was not plugged into mains, etc.); shutdown homebrid

[2020-11-19 19:05] bwp91 commented on #214
@idcrook I understand now. And I can see how you're facing problems from my perspective knowing how the plugin works.
The plugin checks whether a device is in the ignoreDevices list **on discovery**. I wasn't under the impression in your case (nor had even thought of the case) that a user would purposefully have a device unplugged.

Looks like I need to implement this check (and removal of device

[2020-11-19 21:02] #209 closed

[2020-11-19 21:02] #213 closed

[2020-11-19 21:11] bwp91 commented on #214
reopening

[2020-11-20 09:46] bwp91 commented on #214
Okay, new beta, v2.4.1-3.
The change is that the plugin will now remove accessories from HB that are in `ignoredDevices` on plugin startup rather than on device discovery.
A slight caveat is that, as a one-off per device, it will need to be discovered by the plugin for these changes to take effect. Until it is discovered for the first time, the `cannot be controlled` log entries will continue.

[2020-11-20 18:08] idcrook commented on #214
The latest does not change the undesired behavior.

[code]

ignoredDevices list devices are still showing up periodically in `cannot be controlled` log messages

Also, in your explanation, how could an unpowered device be "discovered"? I think there is still a missing piece here, as these devices just happened to be in the cached devices list.

If a device is explicitly in the `ignoredDevices` lis

[2020-11-20 18:36] bwp91 commented on #214
The changes won't take effect until each device in your `ignoredDevices` list has been discovered by the plugin once. As you have said, an unpowered device cannot be discovered. So as a one off for each device, it will need to be discovered by the plugin by being:

* powered on
* not in the `ignoredDevices` list

Then if you add the device back into `ignoredDevices`, it will be removed from the Ho

[2020-11-20 18:39] bwp91 commented on #214
@idcrook if you're on the Homebridge Discord I would be very willing to message you on there to clarify things better!

[2020-11-20 20:24] rhuss2 commented on #184
It would be great to have it on homebridge.

[2020-11-20 20:26] bwp91 commented on #184
Could we message on the Homebridge Discord?:
https://discord.gg/7X36mdw

[2020-11-21 16:34] idcrook commented on #214
can you describe what you think putting a device in the `ignoredDevices` means, from a user's point of view?

[2020-11-21 16:48] bwp91 commented on #214
Sure, basically that the plugin will behave as if the device does not exist.

[2020-11-28 18:36] SMJ0724 opened #217 "Wemo WiFi Smart Plug Not Being Discovered"
### What issue do you have? Please be as thorough and explicit as possible.
I just purchased two of the WiFi Smart Plugs (the new ones that are smaller than the Wemo Mini Smart Plug), and got them connected to my network, however they are not being discovered by the plugin. I have attempted adding the IP addresses (in the format of "http://192.168.1.115:49153/setup.xml" and the devices are not dis

[2020-11-28 21:06] bwp91 commented on #217
Hi @SMJ0724
It could genuinely be that these newer smart plugs don't support the network control, especially if you are not seeing the xml file when visiting the url directly.
I don't have this device so I can't really offer much more help.
Is the device firmware up to date? Also, don't they natively support HomeKit?

[2020-11-28 23:10] SMJ0724 commented on #217
It does have native support, but it’s terrible! Belkin was completely out of the Wemo Minis that I have around the rest of the house on their Black Friday sale, so I figured I’d try the new ones out, but I think they’ll be going back.

[2020-11-30 11:21] bwp91 commented on #217
Ah. I hope you manage to source some belkin ones that will work. I’ll add it to the docs that these models aren’t supported. I’m afraid that’s all i can really do 😅

[2020-11-30 16:45] SMJ0724 commented on #217
Actually, I figured it out! Did a quick port scan and discovered that for this hardware version, they changed the port that the XML file is served from 49153 to 49152. While the autodiscover doesn't work, you can manually add these devices using http://IPHERE:49152/setup.xml. I did this, and it is working like a charm!

[2020-11-30 16:51] bwp91 commented on #217
Oh!
Could I message you on the [Homebridge Discord](https://discord.gg/7X36mdw)?
Ideally i’d like to get some more info about the device.
My username on there is bwp91

[2020-11-30 21:37] #184 closed

[2020-12-01 18:18] #214 closed

[2020-12-01 19:28] Emotive9 opened #218 "Wemo Heater Temp Set Wrong"
### What issue do you have? Please be as thorough and explicit as possible.
When a Wemo heater is turned on through HomeKit the last heating temperature is not remembered. It will show at set to 84 degrees through HomeKit but the heater itself will show at 40 degrees when switched on. Setting the temperature manually after turning on will show as correct in HomeKit and on the heater.

### Details

[2020-12-01 22:27] bwp91 commented on #218
Hi @Emotive9
I have published a test version of the plugin which will request the 'current heating temperature' from the heater when it is turned on via the Home app. This should then be reflected on the Home app thermostat-style display.
If you're happy to give it a try, please [follow this guide](https://github.com/bwp91/homebridge-platform-wemo/wiki/Beta-Version#hoobs) to install this test vers

[2020-12-03 14:44] bwp91 commented on #217
@SMJ0724 If you visit the xml file of your wifi smart plug, could you copy and paste this part? (this example if is from my wemo outlet (the big one!)

[code]

[2020-12-03 19:41] SMJ0724 commented on #217
Sorry! Just saw this now! I will send over that part of the XML once I get home.

[2020-12-03 19:42] SMJ0724 commented on #217
Also: Added you on Discord. smj0724 here.

[2020-12-03 20:11] #217 closed

[2020-12-04 09:09] stlouey opened #219 "Ignored devices function not working"
### What issue do you have? Please be as thorough and explicit as possible.
Have added a device serial number to ignore/remove from homebridge via the settings option yet the devices is still listed under accessories in homebridge ui and ios homekit. restarted homebridge and server os with no effect. Have triple checked serial via wemo app and the device itself.

### Details of your setup.
* Do yo

[2020-12-04 09:19] bwp91 commented on #219
Hi @stlouey
Could you try removing the serial number from the ignored devices list, let it be discovered by the plugin, then add the serial number back to see if this removes the device?
If this doesn't work, then could you post the wemo section of your config json file here?
Thanks

[2020-12-05 08:46] stlouey commented on #219
Hi Ben,

I think I know what the issue is and its in relation to this device not being online and ignored in my wemo app. Regardless of being ignored in the wemo app the plugin is still listing/finding it and is not able to remove it until its back online and then ignored. I had to find it and turn it on so the plugin log showed it found it and then I was able to add the serial and then restart fo

[2020-12-05 10:12] bwp91 commented on #219
Hi @stlouey

First of all, just to clarify that there is no synchronisation of devices between the wemo app and the homebridge plugin, as the wemo app uses the cloud, and the plugin uses local network discovery. Meaning:

* If you ignore/remove a device from the wemo app, this change will not be reflected in homebridge (or vice versa)
* If you change a device's name from the wemo app, this will no

[2020-12-05 13:02] SMJ0724 commented on #217
Sorry for the delay - it's been a week!

`<modelName>Socket</modelName>
<modelNumber>1.0</modelNumber>
<modelURL>http://www.belkin.com/plugin/</modelURL>
<manufacturer>Belkin International Inc.</manufacturer>
<manufacturerURL>http://www.belkin.com</manufacturerURL>
<modelDescription>Belkin Plugin Socket 1.0</modelDescription>`

[2020-12-05 23:55] stlouey commented on #219
Hi Ben,

Do you know what this means in the log:

Subscription still pending for uuid:Bridge

All my bulbs now have been discovered with the serial and mac of the bridge with this message below each discovered address? I think this has happened after LINK reboot and obviously can not remove further devices properly.

Thanks

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Window

[2020-12-06 09:43] bwp91 commented on #219
Ah. If you are trying to add bulbs to the ignore list, then you will need to specify the device id of each bulb, rather than the serial number of the wemo link.
In v2.6.1 (just released), I have changed the startup logging slightly for the link-bulbs so that it's easier to obtain the device ids. The logs will now show:

[code]

where, naturally, the `##bulb-device-id##` is what needs to be added t

[2020-12-06 22:00] stlouey commented on #219
Hi Ben,

My objective was to remove the devices no longer on my network from showing on the limited number of widgets on the Apple iOS swipe up Control Centre for HomeKit as they were useless.

Homebridge was listing these devices even after removing the cache accessories file. Under accessories I was going into each device to find serial and then adding them to be removed but they would not.

Wha

[2020-12-07 01:02] MatthewGCampbell opened #220 "Any way to get this plugin to automatically find plugs with multiple vlans?"
Is their any way to get homebridge to automatically find plugs that are one a different vlan other than homebridge? I can get to homebridge on all vlans, just it won’t find my wemo plugs with them being on a different vlan.

[2020-12-07 08:51] bwp91 commented on #219
There is the option in config-ui-x to do this. Removing a single cached accessory is possible.

Have you updated to v2.6.1? This should show the individual device ID of each bulb in the logs on startup. This device ID can be added to the ignored devices list in the same was as a standard device serial number. Once they have been removed from the cache then the `Subscription still pending for uuid:

[2020-12-07 09:08] bwp91 commented on #220
Hi @MatthewGCampbell

I think the best way forward would be giving the devices static IPs from your router and using the "manual devices" configuration option.

This can be set up in the plugin settings (via config-ui) in the "Manual Devices" section, or editing the config json directly with the following:

[code]

The only things that need to be changed are (obviously!) the IP of each device, and

[2020-12-07 11:17] stlouey commented on #219
Ben,

I setup homebridge+config-ui-x  using hb-service and how have the settings to remove accessories. I removed everything as they had old name and they were all rediscovered with their new names but still get the following error for a few bulbs that are live:

12/7/2020, 10:12:51 PM] [WeMo Platform] [Lamp] added to Homebridge with serial number [undefined] and mac address [undefined].
[12/7/202

[2020-12-07 12:05] bwp91 commented on #219
Does the `Subscription still pending` message repeat itself in the logs continually? Or does it just appear after a Homebridge restart a couple of times?
Are the bulbs controllable through Home app?

[2020-12-07 12:10] stlouey commented on #219
It only shows 3 times under 3 devices when your start/restart, this is the same order for every restart. Did you notice the device that I showed was added with and undefined serial and mac?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Ben<mailto:notifications@github.com>
Sent: Monday, 7 December 2020 11:05 PM
To: bwp91/homebridge-platform-wemo<mailto:homebr

[2020-12-07 12:13] bwp91 commented on #219
I think the plugin is taking slightly longer to connect to the wemo link than other devices. If it appears just once or twice then this is nothing to worry about.

Yes, this is purely a 'cosmetic' issue with the logging. Something I have fixed a few moments ago, but nothing that will have affected the workings of the plugin.

[2020-12-07 14:23] MatthewGCampbell commented on #220
How about something like this and just change the port to either 49153 or 49152 or 49154
[code]

[2020-12-07 17:25] bwp91 commented on #220
@MatthewGCampbell you’ll need to add “http://“ to the manual devices

[2020-12-07 17:36] MatthewGCampbell commented on #220
Ah forgot about that thanks, I set them all to static IPs still wondering a their is a way you could get the discovery thing working on multiple interfaces

Thanks, Matthew

[2020-12-07 18:00] bwp91 commented on #220
With regards to
[code]
The three options here `port`, `discover_opts` and `listen_interface` are independent of each other, meaning you can supply just one or two of them if needed. There are a few options you can pass to the `discover_opts` argument, for reference here is a list (taken from [npmjs.com/node-ssdp](https://www.npmjs.com/package/node-ssdp#client), it's only just become apparent to me

[2020-12-07 18:06] MatthewGCampbell commented on #220
It didn’t seem to find the plugs but I’d be happy to be your beta tester

Thanks

[2020-12-07 18:41] MatthewGCampbell commented on #220
Ok finally got it working hope i can help out the community, also adding it to your documentation would be cool:

{
            "name": "Wemo",
            "debug": true,
            "disableDiscovery": false,
            "discoveryInterval": 30,
            "disableDeviceLogging": false,
            "disablePlugin": false,
            "noMotionTimer": 60,
            "doorOpenTimer": 20,

[2020-12-07 18:43] #220 closed

[2020-12-07 18:45] bwp91 commented on #220
Can I invite you to my discord server to talk about this a bit more? This is a good find!
https://discord.gg/cMGhNtZ3tW

[2020-12-07 18:53] MatthewGCampbell commented on #220
Also getting these errors but it seems to work.
![Uploading Screen Shot 2020-12-07 at 1.53.32 PM.png…]()

[2020-12-08 17:51] jweber93 commented on #219
"[device name] not found yet so cannot be controlled. Will retry connection." was being logged every few min as well for me.  Removing the device from the homebridge cache and restarting seems to have fixed it.  Removing and adding the device back to the ignored list (and restarting in-between) seemingly didn't do anything.

[2020-12-09 00:45] robboz4 opened #221 "After latest update Wemo devices no longer appearing"
### What issue do you have? Please be as thorough and explicit as possible.

I upgraded homebridge, config-uc, Hue and Wemo plugin. Everything is fine expect no Wemo devices. I added them in manually and they still do not show up.

### Details of your setup.
* Do you use Homebridge (with config-ui?) or HOOBS?
config-ui
homebridge-config-ui-x v4.36.0
Homebridge v1.2.4
* Which version of Homebridge/

[2020-12-09 01:30] robboz4 commented on #221
Now I'm getting this message in the log files when I turned on debug:

[12/8/2020, 5:29:06 PM] [Wemo] An error occurred loading a device - Error: Request failed with status code 404
    at createError (/usr/lib/node_modules/homebridge-platform-wemo/node_modules/axios/lib/core/createError.js:16:15)
    at settle (/usr/lib/node_modules/homebridge-platform-wemo/node_modules/axios/lib/core/settle.js:1

[2020-12-09 06:47] bwp91 commented on #221
Hi, in your manual devices you need two forward slashes after the `http:`
Please try this!

[2020-12-09 07:05] robboz4 commented on #221
Thanks! That seems to have fixed. Sorry I missed the double”//“. My bad!

[2020-12-09 07:05] #221 closed

[2020-12-09 11:33] bwp91 commented on #219
Was the device discovered by the plugin after removing it from the ignored list? This is required for this method to work, otherwise (eg if you don't have the device anymore) then removing the device from the HB cache would be the required method.

[2020-12-09 15:55] jweber93 commented on #219
Yes, the device was still being discovered (I still have it).

[2020-12-09 20:25] bwp91 commented on #219
Out of interest, if you added the device to the ignore list again, rebooted HB, is it removed?
With the latest version I cannot reproduce the scenario when a device is **not** removed from HB after it being added to the ignore list

[2020-12-11 13:28] bwp91 commented on #218
Very close to a working fix now. This one has proven complicated due to the way the device works!

[2020-12-12 18:01] jweber93 commented on #219
I can't recall if I saw it completely removed.  My only testing/validation was looking for the error line, which was there before and after putting the device in the ignored list.

[2020-12-13 17:39] fleiscpj opened #222 "Last Changed Characteristic"
* **Please explain your feature request in a one or two sentences.**
I’d like to have the ability to see last state elapsed time in minutes. This would allow an automation to be created in Home Controller app to allow something to happen after the specified amount of time of a switch being activated. Like shutting off the TV 15 minutes after the lights are shutoff, etc.

* **Is your feature reques

[2020-12-14 02:57] billchase2 commented on #217
Thank you!! I couldn't figure out what was wrong and this did the trick.

[2020-12-14 09:46] bwp91 commented on #218
@Emotive9 could I message you on the [Homebridge Discord](https://discord.gg/kqNCe2D)?

[2020-12-14 12:01] bwp91 commented on #222
Would this not be an ideal situation for:
https://www.npmjs.com/package/homebridge-delay-switch
I don’t see how it’s even possible to show the “time elapsed” in the home app?

[2020-12-14 12:48] bwp91 commented on #222
And actually this is possible in the Home app already by creating an automation, choosing the trigger accessory then "Convert to Shortcut" where you can add "wait" delays.

[2020-12-18 10:30] bwp91 commented on #218
I believe this issue has now been fixed in v2.7.0. I don't own this device to confirm, so I will leave this issue open for a few days for any feedback.

[2020-12-18 20:47] Emotive9 commented on #218
Hi, just tested and still defaults to 84 degrees.

[2020-12-20 16:45] bwp91 commented on #218
So when you turn on the heater through the app home it still shows as 16 degrees rather than the temperature it was previous?

[2020-12-20 19:47] bmpreston opened #223 "Upgraded Wemo Plugin/Homebridge, losing consistent connection to all devices"
Recently upgraded to Homebridge 1.1.7 and Wemo to 2.7.0 and now consistently lose access to devices.  Homekit states it has activated the device, however it does not actually activate.

Rebooted Homebridge several times, uninstalled and reinstalled Wemo 2.7.0 but it does not seem to find the device any longer.  I can control with Wemo app, they do exist on the local area network.

No devices are l

[2020-12-20 22:52] bwp91 commented on #223
Hi @bmpreston

From your logs it seems that the plugin hasn't discovered the devices yet, as a message would appear when it discovers a device. Sometimes it can take one or two discovery runs to find devices, ie if you have your discoveryInterval set to 30 seconds then devices might take this long to be found (or even at 60 seconds).

Could you post the wemo section of your homebridge config?

Tha

[2020-12-20 23:50] bmpreston commented on #223
I will post when I’m home and available however I’m confused because it was
acting up and not functioning requiring me to delete and add it back in, in
the first place.

Also, at the time of the post, I had just restarted the service, but I had
the platform installed for nearly 20 minutes before my last reboot and log
capture.  In those 20 minutes, it did not locate my 2 devices, easily
accessible

[2020-12-21 01:20] bmpreston commented on #223
Config:

 {
            "name": "Wemo",
            "debug": true,
            "platform": "BelkinWeMo"
        }

This is virgin since I recently deleted the platform and added it back in,
rebooting in between each time.

On Sun, Dec 20, 2020 at 6:50 PM Brian Preston <brian@bmpreston.com> wrote:

[2020-12-21 06:44] bwp91 commented on #223
Have you tried rolling back to previous version of homebridge you were using? and separately, rolling back to the previous version of this plugin you were using? to try and isolate what is causing this discovery issue?

Otherwise the “manual devices” config option can be used to add devices that aren’t discovered by the plugin.

Which platform are you running homebridge on? also did the previous v

[2020-12-21 13:15] Emotive9 commented on #218
Yes. If I turn it on via the WeMo app or using the front power button it will remember the previous settings. I am not sure if the "On" modes have anything to do with it. The heater has Frost Protect, Eco, Low, High.

[2020-12-21 13:53] bmpreston commented on #223
I can try rolling back.  I'm not aware, where the problem originated.  I
can say that I had intermittent issues where devices would just not stay
connected to homebridge.

I will look into Manual Mode and see if I can get them online first shot
that way.

Homebridge is running on a Windows10 instance on my QNAP server.  I did not
have to use manual back then, largely it just worked, again with
int

[2020-12-21 15:10] bmpreston commented on #223
So, I can say rolling back to 2.6.1 and letting it sit for nearly 20 minutes, didn't solve it.  I put it back to 2.7.0, nothing.

My devices are DHCP and they are 'stuck' strongly at 10.0.0.46&.48.  For good measure, I static mapped them in my router to .51, .52, and manually added them.  They came right up.

So if I can in any way help with researching why they aren't auto-discovering, please let

[2020-12-21 16:03] bwp91 commented on #223
I'm glad you got it working using manual devices. Bit of a workaround rather than a fix!

Does the server that you have Homebridge on run on different network interfaces? Are the wemo devices on the same subnet as the server?

[2020-12-21 16:11] bmpreston commented on #223
All on the same subnet.   The server is running on a Virtualization Window
(think Docker) so it is tunneled sort of from THE BOX to THE VM...

It all has the same gateways, subnets, etc.

It is not necessarily, box one proxies to box two.

On Mon, Dec 21, 2020 at 11:03 Ben <notifications@github.com> wrote:

[2020-12-22 18:27] #219 closed

[2020-12-24 13:51] #222 closed

[2020-12-28 16:43] bmpreston commented on #223
So the issue seems to be back.  I can ping all devices, however I receive the following in the status window.  This just goes on and on.  Last night, I had full connectivity, this morning my automations failed to respond.

[12/28/2020, 11:18:26 AM] [Wemo] An error occurred loading a device - Error: connect ECONNREFUSED 10.0.0.51:80
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1141:16

[2020-12-31 20:22] bonneau opened #225 "Support for Wemo Outdoor Plug"
* **Please explain your feature request in a one or two sentences.**
Was curious if you could add support for the Wemo Outdoor Plug (https://www.belkin.com/us/p/P-WSP090/).

* **Is your feature request related to a problem? Please describe.**

* **Any particular Wemo devices that this relates to?**
Wemo Outdoor Plug (https://www.belkin.com/us/p/P-WSP090/)

* **Anything else?**
This is a great plug

[2021-01-01 11:16] bwp91 commented on #223
[code]

I'm not sure why it is using port 80? Have you made any changes to manual devices section of your config? This needs to include a port number as well.

Example
[code]

Also, have you done any firmware updates on your devices within the last few days. Interestingly, the firmware update seems to have changes the port of my wemo switch from 49153 to 49154.

[2021-01-01 11:19] bwp91 commented on #225
Hi @bonneau
Would you be able to message me on my [discord](https://discord.gg/cMGhNtZ3tW) with regards to implementing this new device?
thanks and happy new year!

[2021-01-01 14:08] krharrison1 opened #226 "Support for Wemo/Holmes air purifier"
I have one of these and would like to see it added as a supported device. Willing to help with testing etc.

[2021-01-01 15:09] bwp91 commented on #226
Hi @krharrison1
Would you be able to message me on my [discord](https://discord.gg/cMGhNtZ3tW) with regards to implementing this new device? It requires a lot of back and forth messaging so it's much simpler there!
thanks and happy new year!

[2021-01-01 15:13] bmpreston commented on #223
So, yes, because of the earlier issue where I was unable to locate devices, I had to manually declare devices.  I set the IP as reserved in my router and wrote my devices in.  And while I obviously typed it, I have no clue how much I had to drink that day (I don't drink at all), but my addressing was set as http://10.0.0.51/49153  (Yes, Slash?!)

Of note, I don't have any firmware updates availabl

[2021-01-01 15:13] #223 closed

[2021-01-02 08:59] bwp91 commented on #218
@Emotive9 not sure if you've received my message on discord, but please try the latest beta of the plugin

[2021-01-04 19:39] danremollino opened #227 "Devices in separate VLAN"
• Homebridge v1.2.5 using Homebridge UI v4.36.0 on an RPi 4b+
• Node v 14.15.3
• npm v6.14.10
• homebridge-platform-wemo v2.8.0
• all devices are set up manually, UPnP is turned off
• all dimmers report as v1 hardware, but are the updated model with the all white design

I have used this plugin in the past without issue, but stopped using it for a few months to try out the Wemo native HomeKit supp

[2021-01-04 20:18] bwp91 commented on #227
Hi @danremollino
Thanks for the detailed issue.
I don't personally own the dimmer so would need your assistance with troubleshooting this.
Any chance we could message on my discord?
https://discord.gg/cMGhNtZ3tW
Thanks!

[2021-01-05 17:39] #218 closed

[2021-01-07 08:14] bwp91 commented on #227
The issue here seemed to be that the devices were in a separate VLAN to the Homebridge instance.

I have updated the title accordingly for easier future reference.

The issue has been resolved by enabling wifi on the homebridge device and giving it an IP from the VLAN where the wemo devices were located.

[2021-01-07 20:07] #226 closed

[2021-01-08 19:21] elkaboing commented on #227
I came here to find some additional information on VLANs. My Mac mini is running Homebridge connected to my management VLAN via ethernet. To get around the issue of homebridge running on a separate VLAN from the IOT devices, I  followed the information outlined in [issue #220](https://github.com/bwp91/homebridge-platform-wemo/issues/220) and manually configured the IP addresses in the homebridge-w

[2021-01-08 20:16] danremollino commented on #227
@elkaboing The devices are going to change ports, usually when they are rebooted. There's nothing you can about this other than constantly update your config when they change. You have to switch back to auto discovery, it's the only way to not give yourself a headache.

To get Homebridge to work reliably with VLANs you have to have the device running Homebridge to have an ip from your IoT VLAN. I'

[2021-01-08 20:29] elkaboing commented on #227
@danremollino  - thanks for the info. I just dug out an old thunderbolt to ethernet adapter and set it up just as you described. I removed the manual devices block from my wemo config, restarted and all my devices were initialized without issue.

I wish I would have done this last week, was much quicker than the time it took to enter all the IP addresses of my 29 Wemo devices into the config file

[2021-01-09 15:23] bwp91 commented on #227
Thanks for your input here @danremollino kudos to you for finding a solution to this :) I have updated the readme with a note regarding this.

I'd just like to point out

The Homebridge settings should have nothing to do with this plugin. The "listener interface" for this wemo plugin can be configured via the `wemoClient.listen_interface` option. [Link to config wiki page for reference](https://gi

[2021-01-09 23:11] Tesla-P100FX opened #228 "[Wemo Light Switch 3-Way] still pending discovery, will retry connection.]"
I had a switch installed with a older version of you plug in that required log in credentials for Wemo.  I had a light switched installed that i removed and It does not show up in my WEMO app, and support says it does not show up in my cloud configuration.   Despite that i get this message all the time
[Wemo Light Switch 3-Way] still pending discovery, will retry connection.]

I am running HOOBS V

[2021-01-09 23:12] Tesla-P100FX opened #229 "[Wemo Light Switch 3-Way] still pending discovery, will retry connection.]"
I had a switch installed with a older version of you plug in that required log in credentials for Wemo.  I had a light switched installed that i removed and It does not show up in my WEMO app, and support says it does not show up in my cloud configuration.   Despite that i get this message all the time
[Wemo Light Switch 3-Way] still pending discovery, will retry connection.]

I am running HOOBS V

[2021-01-10 08:46] bwp91 commented on #229
Closing as duplicate of #228

[2021-01-10 08:46] #229 closed

[2021-01-10 08:46] #227 closed

[2021-01-10 11:29] bwp91 commented on #228
Hi @Tesla-P100FX
Due to how the plugin currently works with removing devices, your situation (with not having the device anymore) is going to be a bit fiddly.
Any chance we could message on my discord server?
https://discord.gg/cMGhNtZ3tW
Thanks

[2021-01-11 16:25] #225 closed

[2021-01-12 18:41] bwp91 commented on #228
Gonna mark this issue as complete since this particular problem is resolved.

In the next release there will be a new configuration option to remove such orphaned devices.

Thanks!

[2021-01-15 06:35] egregious87 opened #230 "Ignored Devices not Saving"
### What issue do you have? Please be as thorough and explicit as possible.
With the new version that came out today (2.9.0) a new wemo device was found and added into homekit. This device is already in homekit as its homekit compatible out of the box (Wemo WiFi Smart Plug). I'm trying to hide this duplicate device since I'm now seeing two of the same device (one from built in homekit compatibilit

[2021-01-15 07:26] bwp91 commented on #230
Hi @egregious87

Are you using the correct format for the devices to ignore config entry? For HOOBS, you need to enter in the "Ignored Devices" box in this format:

[code]

Obviously changing the above entry with the serial number you wish to ignore. So long at it is the serial number, the fact it doesn't start with `22` doesn't matter.

Thanks

[2021-01-15 08:43] egregious87 commented on #230
Ah I understand what your notes were showing now, I just thought it had to be in the brackets like this ["22************"].

This might have done the trick, thank you for clarifying!

Am I able to set the Discovery Interval to zero and my current devices can still work? If not what interval would you suggest as I don't need it to check unless I add a new device.

Thanks for the fast response!

[2021-01-15 11:33] bwp91 commented on #230
[code]

will work in exactly the same way as this

[code]

but the main thing is have you managed to get the plugin to ignore the device?

Do you have your devices setup manually via the config or are they automatically discovered? If they are automatically discovered then I would recommend keeping the discovery interval on.

[2021-01-15 15:06] permaMonk commented on #223
Same (almost) here.

[Belkin WeMo] [Waschmaschine] initialised with s/n xxx and mac address yyy.
[Belkin WeMo] [Waschmaschine] updating current consumption to [0W].
[Belkin WeMo] [Waschmaschine] updating total consumption [0.005 kWh].
[Belkin WeMo] [Gästezimmer Stehlampe] setting state to [on].
[Belkin WeMo] [Gästezimmer Stehlampe] setting state to [off].
[Belkin WeMo] [Waschmaschine] updating tot

[2021-01-15 15:46] permaMonk opened #231 "Error loading device ... - read ECONNRESET"
Something similar to #223

...
[Belkin WeMo] [Waschmaschine] initialised with s/n xxx and mac address yyy.
[Belkin WeMo] [Waschmaschine] updating current consumption to [0W].
[Belkin WeMo] [Waschmaschine] updating total consumption [0.005 kWh].
[Belkin WeMo] [Gästezimmer Stehlampe] setting state to [on].
[Belkin WeMo] [Gästezimmer Stehlampe] setting state to [off].
[Belkin WeMo] [Waschmaschine] up

[2021-01-15 16:00] bwp91 commented on #231
Hi @permaMonk

It looks like the plugin is having trouble connecting to the Waschmaschine.

Is there any reason why you use manualDevices over automatic discovery?

[2021-01-15 16:07] permaMonk commented on #231
Yes there was a time before, where have been some troubles to recognize my WEMO devices. Therefor I was so lucky some time ago you added this manual configuration option. And that worked for a long time without any problems.

[2021-01-15 16:16] bwp91 commented on #231
In fact I was going to suggest trying normal discovery. This can detect and work with port changes. But normal discovery often doesn't work when you have Wemo devices on a different IP network/subnet from your Homebridge instance.

Does your Homebridge instance have an IP on your 192.168.87.X range?

For auto discovery, just remove the manualDevices section, ie

[code]

[2021-01-15 16:50] permaMonk commented on #231
Yes, sure, now I remember I´ve had different subnets. But not anymore.

I changed the config to auto detect. Gimme a half time to watch and control the log.

[2021-01-15 17:11] permaMonk commented on #231
It looks good. :))

But tomorrow I`ll take a second eye on it. ;)

[2021-01-15 18:57] #228 closed

[2021-01-16 13:57] permaMonk commented on #231
It´s tomorrow now and everything with this plugin looks really fine.

Thanks again for your responsive and very helpful support. :)

[2021-01-16 13:57] #231 closed

[2021-01-24 19:46] tmur11 opened #232 "Energy History in Eve App?"
I cannot seem to get any energy history to show in EVE app. Should it not be?

[2021-01-25 12:28] #230 closed

[2021-01-26 12:32] bwp91 commented on #232
Hi @tmur11
At the present time I believe (since I only took over this plugin recently) the following is shown in the Eve app:

* Current consumption in W
* Total consumption for the current day in kWh (this resets at midnight by the device itself)

The 'history' graph is not yet implemented, but something I can look into.

[2021-01-26 21:20] permaMonk opened #233 "Updating outlet - permanent change on/off"
Since newest update of plugin and change to another washing machine I see following in the logs:

[26/01/2021, 22:13:32] [Belkin WeMo] [Waschmaschine] updating outlet-in-use [yes].
[26/01/2021, 22:13:37] [Belkin WeMo] [Waschmaschine] updating outlet-in-use [no].
[26/01/2021, 22:13:45] [Belkin WeMo] [Waschmaschine] updating outlet-in-use [yes].
[26/01/2021, 22:13:59] [Belkin WeMo] [Waschmaschine] u

[2021-01-26 22:14] Muzach opened #234 "Port changes - auto detect correct port"
It looks like some of my WeMo switches (Belkin Plugin Socket 1.0) seem to change ports periodically and the plugin, configured with manual devices, stops working.

My rPi is on a different VLAN from my wemo devices, but the firewall is open for the rPI to scan the IP-range of the IOT VLAN (as well as mDNS reflectors); but the automatic discovery doesn't work.  Enhancement #1 would be to have some

[2021-01-27 08:49] bwp91 commented on #234
Hi @Muzach
Are you able to give your rPi an IP on the vlan where your wemo devices are? For example using wireless if your pi is already connected via ethernet to (i assume) your main lan.
Other users have had success with auto discovery using this method which in turn fixes the port changing problem.

[2021-01-27 12:15] permaMonk commented on #233
BTW: This is a Wemo Insight Switch.

[2021-01-27 14:54] bwp91 commented on #233
Hi @permaMonk
Could I message you on my discord server? There's a few things I'd like to know about the insight since I don't own it myself.
https://discord.gg/cMGhNtZ3tW
Thanks!

[2021-01-27 14:57] Muzach commented on #234
I’d rather not change the security profile of my rPI just to get the scanner to work.  The wemo are visible from the rPI if I could get some knobs exposed to target the scanner to the right IP range.  If the scanner could simply be told the IP range to scan that would do it, or a hybrid manual mode where I provide the IP but not the port would also be great.

[2021-01-27 16:06] bwp91 commented on #234
@Muzach could I message you on my discord server?
https://discord.gg/cMGhNtZ3tW

[2021-01-27 22:08] bwp91 commented on #232
In the current beta version of this plugin I have added Eve history data for Insight devices.

If you're happy to try the beta I'd be grateful for any feedback... as I don't own the insight device myself

[2021-01-27 22:11] bwp91 commented on #234
For anyone following this issue, in the current beta of the plugin I have added a feature to auto detect the port of manual devices.

[2021-01-27 22:13] Muzach commented on #234
Tested build 2.9.2-9 and it's working great across vlan boundaries.  Thanks!

[2021-01-31 13:25] permaMonk commented on #233
Yes, solved.

[2021-01-31 13:28] #233 closed

[2021-02-01 06:51] degofedal opened #235 "v2.10.0 WEMO Maker "could not be initialised as Cannot convert undefined or null to object""
### What issue do you have? Please be as thorough and explicit as possible.
Upgraded from 2.9.1 to the latest version 2.10 and got the following error:
[2/1/2021, 7:28:49 AM] [Wemo] [Garage Door] could not be initialised as Cannot convert undefined or null to object

### Details of your setup.
Homebridge with UI via Docker

* Which version of Homebridge/HOOBS do you have?
Homebridge v1.2.5

* Whic

[2021-02-01 06:56] bwp91 commented on #235
Hi @degofedal
I believe I have already fixed this in the latest beta version, could you update for me and confirm?
Thanks

[2021-02-01 07:09] degofedal commented on #235
Hi @bwp91

Updated to the latest beta and got this error instead:

[2/1/2021, 8:06:47 AM] [Wemo] [Garage Door] could not be initialised as Cannot read property '22XXXXXXXXXX' of undefined

The serial number is present in the config. I tried entering it again and saving the config with same result.

Let me know if there is anything else I can assist with.

[2021-02-01 07:30] bwp91 commented on #235
Could you try a beta I just pushed? v2.10.1-2
It might take a few minutes for it to become available.
Thanks

[2021-02-01 07:37] degofedal commented on #235
Absolutely, this on did the trick. Works as expected 👍

[2/1/2021, 8:33:49 AM] [Wemo] [Garage Door] initialised with s/n 22XXXXXXXXXX and mac address 94:XX:XX:XX:XX:XX.

Thanks so much for your time and also this great plugin. Been using it for the past couple of years! Let me know if you need any other assistance. Happy to help!

[2021-02-01 09:59] bwp91 commented on #235
This issue has been fixed in v2.11.0!

[2021-02-01 09:59] #235 closed

[2021-02-02 22:01] tmur11 commented on #232
@bwp91 thanks for the update! I'll install the beta version tonight and provide you feedback.

[2021-02-03 13:23] #234 closed

[2021-02-05 01:58] tmur11 commented on #232
@bwp91 It appears to be working! Thank you very much.

If only you could work your magic on the [ds18b20](https://github.com/DanTheMan827/homebridge-ds18b20) plugin for temperature history

![21-02-02 20-52-29 4002](https://user-images.githubusercontent.com/21132832/106979020-6a52d480-672b-11eb-9bcc-d79bfb12af19.png)
![21-02-03 17-08-13 4006](https://user-images.githubusercontent.com/21132832/1069

[2021-02-05 02:18] tmur11 commented on #232
Upon further review it seems that perhaps 'Total Consumption' is not displaying correctly and only shows 0.00kWh although it seems the history is working?

![image](https://user-images.githubusercontent.com/21132832/106980518-552b7500-672e-11eb-95c1-5d54634f354b.png)

![21-02-04 21-13-41 4012](https://user-images.githubusercontent.com/21132832/106980513-5361b180-672e-11eb-89af-3b36a8d2364d.png)

[2021-02-05 06:04] bwp91 commented on #232
Hi @tmur11

Glad to see the historical data is working at least.

The Eve app bases it's *TotalConsumption* graph data off the values of the *CurrentConsumption* that it receives regularly from the plugin.

The *TotalConsumption* value, however, needs to be calculated by the plugin (ie Eve does not use its own data to calculate this, it's totally up to the plugin). Obviously something is not worki

[2021-02-05 12:33] bwp91 commented on #232
Could you update to the beta version of the plugin (currently 2.12.0-3) to see if this correctly shows the total consumption in Eve app?

[2021-02-05 16:05] wnaylor opened #236 "WeMo Plugin Failure"
### What issue do you have? Please be as thorough and explicit as possible.
**My WeMo plugin doesn’t work anymore. At the beginning of February after I updated the plugin none of my devices work. The work in the WeMo app and Alexa and Google but not in HomeKit.**

### Details of your setup.
**I have Hoobs Core version 3.3.2 on a Raspberry Pi 4B.**

* Which version of Homebridge/HOOBS do you have?

[2021-02-05 16:20] bwp91 commented on #236
Hi, have you changed any firewall/router/network settings?

Do you remember which version of the plugin you were running when it was working before you updated?

[2021-02-05 17:08] wnaylor commented on #236
My router went down and I had to reset it but my network settings are the same except for my computer IP. The Hoobs system IP remains the same. I do not have any firewall set. I do have Bitdefender operational but the settings haven't changed and I do not know what version of the Wemo plugin I was running before I will say that it had to be the version just before 2.11.0. Again my Wemo app and Ale

[2021-02-05 17:35] bwp91 commented on #236
Humour me here please just try disabling bitdefender and restarting HOOBS to see if this changes anything?

[2021-02-05 18:33] wnaylor commented on #236
Ben,

I did as you requested but I am getting the same errors. Is there a Wayne I can go back to an earlier plugin?

Wayne

[2021-02-06 11:22] bwp91 commented on #236
Yes, when using HOOBS you should:

* Stop the hoobs service
* Run these commands in the HOOBS UI terminal one after another, changing the X.Y.Z to the version you wish to install
  * `cd ~/.hoobs/`
  * `npm install homebridge-platform-wemo@X.Y.Z`
* Start HOOBS again

I would be interested to hear if a (and which) previous version fixes your issues, so I can look into any changes between versions t

[2021-02-06 18:06] tmur11 commented on #232
I have updated and the behavior is the same. I should clarify prior to updating to (2.12.0.-3) I did start to see numbers in my _TotalConsumption_ field in EVE.

It seems only whole numbers appear in _TotalConsumption_ even though EVE displays 2 decimal places.

![image](https://user-images.githubusercontent.com/21132832/107126134-199ec100-687c-11eb-900c-37f030cc13c3.png)

[2021-02-06 18:20] bwp91 commented on #232
Could you try removing the accessory from the cache so it is re-added to Homebridge?
This _might_ fix the decimal point issue.
Please let me know!

[2021-02-06 22:06] wnaylor commented on #236
Ben,

After installing demo version 2.1.1 and leaving it alone for a few hours, I logged back into Hoobs and all my demo devices are now working. I enclosed below the demo part of the logs. I am not going to update the wemo app at this time.

Thank you for your continued support.

2/6/2021, 5:01:41 PM [Wemo] [WeMo Basement] setting state to [off].
2/6/2021, 5:01:41 PM [Wemo] [WeMo Basement] settin

[2021-02-13 22:17] BrianS42 opened #237 "Error in logs for a wemo Wi-Fi smart plug"
### What issue do you have? Please be as thorough and explicit as possible.
In the log file, I keep getting this error (but it does not crash, it just fills up the logs).  It happens every 2 - 2.5 minutes and is only for the Wi-Fi smart plug that I just got.  I put the serial number in the ignored devices (as homekit picks it up automatically), but since it starts with M1 instead of 22, I'm not su

[2021-02-13 22:25] bwp91 commented on #237
Hi @BrianS42

In the plugin-ui in the "My Devices" tab, does the device appear in this list?

[2021-02-13 23:31] BrianS42 commented on #237
No, it does not show up in there.

[2021-02-14 07:42] bwp91 commented on #237
What is the format of the serial number of the device? Is it just numbers and capital letters?

Also, if you remove it from the ignored devices, does the device add to Homebridge with no further errors in the logs?

[2021-02-15 20:37] HammerAce42 opened #238 "Plugin crashes homebridge process with a UUID TypeError"
### What issue do you have? Please be as thorough and explicit as possible.

Plugin crashes homebridge process with a UUID TypeError. This caused my homebridge setup to become unusable, until I moved Wemo to a child bridge using the Homebridge beta release. This issue has survived  a plugin disable, and plugin install/uninstall, and manual clearing of Wemo accessories from the cache.

### Details

[2021-02-15 23:05] BrianS42 commented on #237
The serial is all numbers and capital letters.

I removed it from the ignored devices and the error seems to have gone away.  Although the Wemo outlet now seems to crash (stops getting recognized by homebridge and the Wemo app until I unplug it and plug it back in).  Not sure if it is related to this or not.  I’ll try to re-add it and see if it is more stable.

[2021-02-15 23:56] BrianS42 commented on #237
I just reset the plug entirely (with Wemo support) and re-set it up.  It is no longer hanging (at least so far), but I did notice that even with the SN removed from the config file, it is still showing the error (I saw the error when homebridge initialized this time) right next to it finding the device.  I’ll leave it off the ignored list and see if the error keeps presenting itself.

[2021-02-16 03:45] picnicbob opened #239 "Wemo Insight shows as multiple devices"
### What issue do you have? Please be as thorough and explicit as possible.
My Wemo insight switch shows as 2 tiles in the Home app since the latest update.

### Details of your setup.
Homebridge (CLI)
{
            "name": "WeMo Platform",
            "mode": "auto",
            "platform": "BelkinWeMo"
}

* Which version of Homebridge/HOOBS do you have?
Homebridge 1.1.7

* Which platform do you

[2021-02-16 04:24] BrianS42 commented on #237
Update, I haven’t seen the error for about 3 hours.  But I do have the Wemo device in my HomeKit twice (once in homebridge and once natively with HomeKit).

[2021-02-16 07:35] bwp91 commented on #237
Any luck if you now add the serial number back to the ignore list? Please be sure to use the plugin setting ui to add the serial number, so it adds in the correct format to the raw json config file.

[2021-02-16 07:41] bwp91 commented on #239
Hi @picnicbob
Could you grab me a screenshot of both tiles (i'm looking to see the accessory type).
Also, please confirm whether both accessories show 2.12 as the firmware from the home app.
Thanks

[2021-02-16 07:46] bwp91 commented on #238
Hi,
Thanks for reporting this. Which wemo device types are 'Chair' and 'Humidifier'?

[2021-02-16 08:34] HammerAce42 commented on #238
Both of those are Wemo Insight switches.

Another puzzling observation I wanted to include - the UUID type error appears even when the config file includes a disable: true flag for this plugin.

[2021-02-16 10:50] bwp91 commented on #238
Could we message on my discord?
https://discord.gg/cMGhNtZ3tW

[2021-02-16 13:51] picnicbob commented on #239
![IMG_0550](https://user-images.githubusercontent.com/1394696/108071766-1fdb2d00-7034-11eb-8f69-a73357966e90.PNG)
![IMG_0548](https://user-images.githubusercontent.com/1394696/108071768-2073c380-7034-11eb-8200-5e7b945b8604.PNG)
![IMG_0549](https://user-images.githubusercontent.com/1394696/108071770-2073c380-7034-11eb-8ba5-333ed3658d31.PNG)

[2021-02-16 13:53] picnicbob commented on #239
They're both appearing as Outlets (even though one shows as a light)

[2021-02-16 14:15] bwp91 commented on #239
Would you be able to update the plugin to the latest beta version and then remove the accessory/ies from the cache to see if this sorts out this problem?

To save resetting the whole cache (if you use CLI) you can use a either of these plugin settings to remove a single accessory from the cache:

* `"removeByName": "accessory name as appears in logs"`
* `"ignoredDevices": ["serial number of device

[2021-02-16 18:01] BrianS42 commented on #237
I just added it back.  I have been using the UI to update the serial.  After adding it back now  I just restarted and no error so far.  I'll keep an eye on it.  But it is displaying right in homekit.  Just for reference, here is the config.json section in case I'm doing something else wrong.  I installed this a while ago, before I got the UI so it could be off:
{
            "platform": "BelkinWeM

[2021-02-16 19:45] #232 closed

[2021-02-16 21:09] BrianS42 commented on #237
Update.  I still see these errors in the log and ranges every 30 seconds to about 3 minutes.  But it functions fine.  So not a huge issue, but wanted to see if this was a common error with they type of connector.

[2021-02-17 05:50] HammerAce42 commented on #238
The beta release fixed the issue. Thanks so much for the rapid fix!

[2021-02-17 05:50] #238 closed

[2021-02-17 12:43] bwp91 commented on #237
Your config looks fine. In fact your `manualDevices` and `discovery` options are redundant so for good housekeeping you could remove them.

With regards to the logging, no, it shouldn't be the case that you repeatedly get these messages, especially for a device you ignore.

I've made a small change in a beta version of the plugin I have just released, could you update to it to see if it has made a

[2021-02-17 15:48] picnicbob commented on #239
Well, I cleared my Homebridge accessories cache and the outlet is showing up as a single tile again. Now I've got to reconfigure everything else in homebridge... Not sure what went wrong there but it definitely coincided with the wemo 2.12 update.

[2021-02-17 19:04] bwp91 commented on #239
Glad it's gone back to one tile as it should be. Will close this issue now but please do get in contact again if it happens to duplicate again!

[2021-02-17 19:04] #239 closed

[2021-02-17 23:35] BrianS42 commented on #237
I didn't see v2.13.1-0 but saw v2.13.1-1 and installed that just now.   I'll monitor and report back.  Thanks!

[2021-02-18 00:34] BrianS42 commented on #237
Looking good right now.  Earlier today I when I rebooted I got 25 errors in 1 hour.  I still haven't seen any errors since rebooting.

[2021-02-18 09:41] bwp91 commented on #237
Ah this is good news :)

[2021-02-18 23:11] wnaylor commented on #236
Thank you for your help. I did reply that I was able to re-install the WeMo plugin using version 2.1.1. I am afraid to update the plugin to the new updated version for fear that I might run into the problems I had before. Has there been anyone else with the same problem or was the problem fixed? Do you think I should go ahead and try to update the plugin and if it doesn't work properly reinstall t

[2021-02-19 07:42] #237 closed

[2021-02-19 07:53] bwp91 commented on #236
Hi @wnaylor

I apologise I haven't gotten back to you. From what you said I thought you were planning to stay on v2.1.1.

I would try updating the plugin again to the latest version. If you receive the errors again I can look into this further.

Also very happy to message you on Discord - it could be useful to message in real time when we are both online to try and troubleshoot this.

https://disc

[2021-03-01 10:01] #236 closed

[2021-03-04 17:32] permaMonk opened #240 "Query interval?"
It´s about a Wemo Insight.

At the moment I can see in the log that there is an irregular query interval for the consumption values between 1 - 8 seconds. This is not necessary for my requirements.

Question: Can this be precisely defined via the config settings? Every 30 seconds or every minute?

[2021-03-04 17:39] bwp91 commented on #240
Hi @permaMonk

The plugin doesn’t query for updates for the insight. the device itself sends updates as and when it feels it needs to. and the plugin receives each of these updates and logs/updates accordingly.

i have added an option recently to ignore an update if the difference between the new wattage and the previous is less than a certain amount. Perhaps this could be used to make the log ent

[2021-03-04 17:45] permaMonk commented on #240
Yes I know about this feature and I use it. :)
So, too bad, then my desired feature does not work.

[2021-03-05 07:20] bwp91 commented on #240
I could perhaps look into a way of limiting the wattage entries on a time basis eg don't log if an update has already been received in the past 30 seconds.

But in this case it would still not be **exactly** every 30 seconds, the entries would be at least 30 seconds apart.

Not sure if this could be a useful option?

[2021-03-05 07:36] permaMonk commented on #240
Really appreciate your thoughts.

Yes maybe a way.

My main intention is not to clutter the log to much with to many entries of the Wemo plugin. And to factor in the HB have to much work in the future when I have installed 20 more plugins. ;)

[2021-03-06 09:25] Schattenkaiser opened #241 "How to remove a non existing device"
### What issue do you have? Please be as thorough and explicit as possible.
Wemo plugin trying to start a non existing device (from my past wwemo configuration). An error occurs, saying: [Wemo] [EG Bad] device appears to be offline.
after that the homebridge service stopps working with the following messages
Error: connect ECONNREFUSED 127.0.0.1:4000
    at TCPConnectWrap.afterConnect [as oncomple

[2021-03-06 13:15] bwp91 commented on #241
Hi @Schattenkaiser
The 'EG Bad' device can be removed from HOOBS using the 'Remove By Name' plugin setting. Type in 'EG Bad'

<img width="200" alt="Screenshot 2021-03-06 at 13 13 17" src="https://user-images.githubusercontent.com/43026681/110207921-ebfa6700-7e7d-11eb-8d5f-597bccef4a71.png">

Then click on 'Save Changes' HOOBS will restart, removing the device from the accessory list.

You can then

[2021-03-06 13:32] Schattenkaiser commented on #241
Hi @bwp91
Thanks for reply
I've restored hoobs from a backup, and setup new with only wemo plugin.
Homebridge-service seems working again, but after installing the wemo plugin again, the excluded [EG Bad]  bulb is still to see.

I also tried the step you mentioned, but wirth the same effect. The only change is, that the susequent error is no longer showing, and hoembridge service is working again.

[2021-03-06 13:42] Schattenkaiser commented on #241
additional new findings
'''
6.3.2021, 14:39:11 [Wemo] Initializing BelkinWeMo platform...
6.3.2021, 14:39:11 [Wemo] [v2.14.0] initialised. Setting up device discovery.
**6.3.2021, 14:39:12 [Wemo] [EG Bad] has been removed from Homebridge.**
6.3.2021, 14:39:12 [Wemo] ✓ Setup complete. Join the plugin's Discord community! https://discord.gg/cMGhNtZ3tW
6.3.2021, 14:39:12 Preparing Advertiser for 'HOO

[2021-03-06 14:35] Schattenkaiser commented on #241
@bwp91
Thanks for support - the problem seems to be fixed (for the moment)
I've set the following steps

- shutdown Raspberry Pi
- reset Wemo-Link
- reset Wemo-Bridge
- add Wemo-Bridge to HomeKit App on iPhone again
- restart Wemo-Link
- restart Raspberry Pi with Hoobs

The result is looking not that bad, even as also the EG Bad Bulb doesn't appear any longer. The only thing to solve is, that even

[2021-03-06 15:34] bwp91 commented on #240
You can try the latest beta I have just pushed. You should be able to set a 'timeout' for wattage logs via the plugin settings.

Unfortunately today my raspberry pi has died somehow so unable to test myself.

[2021-03-06 15:35] bwp91 commented on #241
Often these `awaiting connection and will retry` are fixed with time, especially if you have just reset everything.

Have they connected now?

[2021-03-06 15:41] Schattenkaiser commented on #241
not yet, but that ain't a problem of the plugin, but a (known) issue with the wemo-link. Sometimes it's loosing connection to the home network, and it need some time to establish the connection again.

I understand that this task can be marked as resolved - thank you

[2021-03-06 15:41] #241 closed

[2021-03-06 15:54] permaMonk commented on #240
Sure. But I need (again, sorry) the precise command how to install the beta.

—

[2021-03-06 15:57] permaMonk commented on #240
sudo npm install homebridge-platform-wemo@beta -g

Correct?

Am Sa., 6. März 2021 um 16:34 Uhr schrieb Ben <notifications@github.com>:

[2021-03-06 16:08] bwp91 commented on #240
Are you running Homebridge UI? HOOBS? The command depends on the platform

[2021-03-06 16:11] permaMonk commented on #240
Ok 2 fields with the name "Wattage Logging". Should be named a little bit
different. :)

Set the time at 30 sec.

Config:
{
    "name": "Belkin WeMo",
    "mode": "auto",
    "wemoInsights": [
        {
            "serialNumber": "221540K12002B3",
            "wattDiff": 2,
            "timeDiff": 30
        }
    ],
    "platform": "BelkinWeMo"
}

Have to wait a little. Washing machine has some

[2021-03-08 15:28] permaMonk commented on #240
Hi Ben.

It work. :)

[08/03/2021, 16:20:14] [Belkin WeMo] [Waschmaschine] updating current
consumption to [176W].
[08/03/2021, 16:20:52] [Belkin WeMo] [Waschmaschine] updating current
consumption to [85W].
[08/03/2021, 16:21:24] [Belkin WeMo] [Waschmaschine] updating current
consumption to [55W].
[08/03/2021, 16:21:54] [Belkin WeMo] [Waschmaschine] updating current
consumption to [46W].

Am Sa.,

[2021-03-09 14:26] andrewk123 opened #242 "Wemo V2 Dimmers"
It appears as if the latest versions of Wemo Devices (so far I have identified 2) have different behaviors when a subscription is created than earlier versions. The two devices I've identified so far are the Wemo WiFi Smart Plug and the Belkin Plugin Dimmer hardware version V2. Both of these have RTOS rather than OWRT in the firmwareVersion XML string.

Note: all the devices I've looked at are on

[2021-03-09 15:50] bwp91 commented on #242
Hi @andrewk123

Thanks for these observations.

With regards to the "first" issue you have mentioned, could you try the latest beta of the plugin, 2.14.1-1, to see if this makes a difference? The changes I have made are that when a device is discovered and initialised into Homebridge, the plugin will make an immediate request for the current state of the device, rather than relying on a push event